$white          : #fff;
$black          : #000;
$challenge-black: #030304;

// Blues
$light-blue: #009dce;
$glow-blue: #2582cf;

// Grays
$light-gray : #666;
$blue-gray  : #334651;
$header-gray: #383d43;
$bootstrap-well: #e5e5e5;