$white    : #fff;
$off-white: #fffffe;
$black    : #000;

// grays
$light-gray: #eee;
$dark-gray : #666;

// oranges
$tc-btn-light-orange: #f90;
$tc-btn-dark-orange : #ff7a00;
$light-orange       : #ffb800;
$dark-orange        : #ff8a00;

// blues
$light-blue: #00aeff;
$dark-blue : #0096ff;
