.container
  section.copyright
    p &copy; 2014 topcoder. All Rights Reserved.

    ul
      li
        a(href='http://topcoder.com/community/how-it-works/privacy-policy/') Privacy Policy

      li |

      li
        a(href='http://topcoder.com/community/how-it-works/terms/') Terms

  section.powered
    span Powered by
    a.small-logo(href="http://www.appirio.com")
      img(src="content/images/logoPoweredBy.png")

  section.social
    a.fb-icon

    a.twit-icon





  //- .footer-mail.col-xs-12.col-sm-7.col-sm-pull-1
    //label.lbl.col-xs-12.col-sm-3 Stay Informed

    //input.email.txtbox.col-xs-12.col-sm-7(type="email", placeholder="Your Email")

    //.col-xs-12.col-sm-2
      //a.btns.ok-btn OK

  //- .clearfix