.container
  .col-xs-6.col-sm-4
    a.small-logo.pull-left(href="#")
      img(src="content/images/small-logo.png")

  .col-xs-6.col-sm-1.col-sm-push-7
    a.fb-icon.pull-right

    a.twit-icon.pull-right

  .footer-mail.col-xs-12.col-sm-7.col-sm-pull-1
    label.lbl.col-xs-12.col-sm-3 Stay Informed

    input.email.txtbox.col-xs-12.col-sm-7(type="email", placeholder="Your Email")

    .col-xs-12.col-sm-2
      a.btns.ok-btn OK

  .clearfix