footer.login-footer.footer
  .container
    section.copyright
      p &copy; 2014 topcoder. All Rights Reserved.

      ul
        li
          a(href='http://topcoder.com/community/how-it-works/privacy-policy/') Privacy Policy

        li |

        li
          a(href='http://topcoder.com/community/how-it-works/terms/') Terms

    section.social
      a.fb-icon

      a.twit-icon

    section.powered
      span Powered by

      a.small-logo(href="http://www.appirio.com")
        img(src="content/images/logoPoweredBy.png")
