
header.header-row
  .navbar.navbar-inverse.navbar-static-top.container(autocollapse-navbar)
    a.small-logo.pull-left(ui-sref="landing")
      img(src="content/images/logo-landing.png")

    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#lime-nav-bar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .header-right.pull-right
      nav.main-nav.navbar-collapse.collapse(id="lime-nav-bar")
        ul.nav.navbar-nav
          li
            a(ui-sref="swifttoberfest", ng-class="{activeTab: $state.current.name == 'swifttoberfest'}") Swifttoberfest
          li.dropdown.clearfix
            a.dropdown-toggle.dropdown-profile.pull-left(data-toggle="dropdown", aria-expanded="false", ng-class="{activeTab: $state.current.name == 'challenges'}")
              span.pull-left Challenges

              span.drop-arrow.pull-left

            ul.profile-data.dropdown-menu.dropdown-menu-right
              li
                a(ui-sref="challenges({type: 'peer'})") Show Your Skills

              li
                a(ui-sref="challenges({type: 'all'})") All iOS Challenges

              li
                a(ui-sref="challenges({type: 'swiftoberfest'})") Swiftoberfest Challenges

              li
                a(ui-sref="toc") Swiftoberfest TOC

              li
                a(ui-sref="rules") Swiftoberfest Rules

          li
            a(ui-sref="learn", ng-class="{activeTab: $state.current.name == 'learn'}") Learn

          li
            a(ui-sref="badges", ng-class="{activeTab: $state.current.name == 'badges'}") Badges
          li
            a(ng-href="http://help.{{main.domain}}", target="_blank") Help

          li.membership(ng-hide="main.loggedInUser")
            a.btns.glow-btn.become-member(ui-sref="register") Become a member

          li(ng-hide="main.loggedInUser")
            a.dropdown-profile.pull-left(ui-sref="login")
              img.pull-left(src="content/images/user.png", srcset="content/images/user@2x.png 2x")

              span.pull-left Log in

          li.dropdown(ng-show="main.loggedInUser")
            a.dropdown-toggle.dropdown-profile.pull-left(data-toggle="dropdown", aria-expanded="false")
              img.pull-left(ng-src="{{main.loggedInUser.photo}}")

              span.pull-left(ng-bind="main.loggedInUser.handle")

              span.drop-arrow.pull-left

            ul.profile-data.dropdown-menu.dropdown-menu-right
              li
                a(href="#", ng-click="main.logout()") Logout
