section.resources-section
  header.section-header.container
    h1.heading iOS and Swift Development Resources

  .resource-subsection.odd
    .container
      section.row
        .col-xs-12.col-md-6.col-md-push-6.logo-column
          img(alt='design logo', src='content/images/developer-logo.png', srcset='content/images/developer-logo@2x.png 2x')

        .col-xs-12.col-md-6.col-md-pull-6.content-col
          header.section-subheader
            p Whether you’re an experienced iOS/Swift developer or just getting started, there are tons of great resources available to help you along the way -- from the topcoder blog and community to free university courses to iOS training providers.

            br

            p Have a helpful resource to add to the list? Please send it in so we can share with the community!

          .resource-links
            h2.heading Resource Links:

            ul
              li - First start with Apple's #[a(href="https://developer.apple.com/swift/") overview] and #[a(href="https://developer.apple.com/swift/resources/") resources]

              li - iTunes has free classes from #[a(href="https://itunes.com/StanfordSwift") Stanford University] and #[a(href="https://itunes.com/PlymouthSwift") Plymouth University]

              li - Complete an online iOS developer #[a(href="https://www.udacity.com/course/nd003") Nanodegree] from Udacity

              li - Review Topcoder's #[a(href="https://www.topcoder.com/tag/swift/") Swift Blog posts] and #[a(href="https://www.topcoder.com/challenges/develop/past/?startDate=2014-04-01&technologies=SWIFT&pageIndex=1") previous challenges]

              li - Take an iOS developer training class from #[a(href="https://www.bignerdranch.com/we-teach/", target="_blank") Big Nerd Ranch]
