section.resources-section
  header.section-header.container
    h1.heading iOS and Swift Development Resources

  .resource-subsection.odd
    .container
      section.row
        .col-xs-12.col-md-6.col-md-push-6.logo-column
          img(alt='design logo', src='content/images/developer-logo.png', srcset='content/images/developer-logo@2x.png 2x')

        .col-xs-12.col-md-6.col-md-pull-6.content-col
          header.section-subheader
            p Whether you’re an experienced iOS/Swift developer or just getting started, there are tons of great resources available to help you along the way, from the topcoder blog and community to free university courses to iOS training providers.

            br

            p Have a helpful resource to add to the list? Please send to <a href="mailto:ios@topcoder.com?subject=Suggestion%20for%20the%20Learn%20page%20on%20ios.topcoder.com">ios@topcoder.com</a> so we can share it with the community!

      section.row
        .col-xs-12.col-md-6
          .resource-links
            h2.heading Basics from Apple

            ul
              li #[a(href="https://itunes.apple.com/us/book/swift-programming-language/id881256329?mt=11") The Swift Programming Language Book] - <em>All Skill Levels</em> <br> Available on iBooks, this book provides a tour of the language, a detailed guide delving into each language feature and a formal reference for the language.

              li #[a(href="https://itunes.apple.com/us/book/ios-human-interface-guidelines/id877942287?mt=11") iOS Human Interface Guidelines] - <em>All Skill Levels</em> <br> Apple's definitive guide to creating superlative user experiences.

              li #[a(href="https://developer.apple.com/swift/") Official Apple Swift Overview] - <em>All Skill Levels</em> <br> A marketing microsite that gives a high-level overview of Swift. Good jumping off point for the blog and resources.

              li #[a(href="https://developer.apple.com/") Official Apple Developer Website] - <em>All Skill Levels</em> <br> Features a wide range of developer resources as well as the latest announcements about iOS development.

              li #[a(href="https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/GuidedTour.html#//apple_ref/doc/uid/TP40014097-CH2-ID1") A Swift Tour] - <em>Beginner</em> <br> Apple's official Swift Tour tutorial featuring Playgrounds.

          .resource-links
            h2.heading Udacity Courses

            ul
              li #[a(href="https://www.udacity.com/course/intro-to-ios-app-development-with-swift--ud585") Intro to iOS App Development with Swift] - <em>Beginner</em> <br> A solid intro to Xcode and iOS development for beginners. A great starting place for the Udacity series of iOS courses.

              li #[a(href="https://www.udacity.com/course/learn-swift-programming-syntax--ud902") Learn Swift Programming Syntax] - <em>Beginner</em> <br> The next step in the Udacity iOS series that fills in some details that were glossed over in the previous course.

              li #[a(href="https://www.udacity.com/course/uikit-fundamentals--ud788") UIKit Fundamentals] - <em>Beginner</em> <br> Another Udacity course for beginners, best consumed after the other two. This one focuses on UI development.

              li #[a(href="https://www.udacity.com/course/ios-networking-with-swift--ud421") iOS Networking with Swift] - <em>Intermediate</em> <br> The first of the more advanced Swift/iOS courses, focusing on networking.

              li #[a(href="https://www.udacity.com/course/ios-persistence-and-core-data--ud325") iOS Persistence and Core Data] - <em>Intermediate</em> <br> The second of the more advanced Swift/iOS courses, focusing on how to write and retrieve data from the device's hard drive.

              li #[a(href="https://www.udacity.com/course/xcode-debugging--ud774") Xcode Debugging] - <em>Intermediate</em> <br> This course could be taken anywhere in the series, but probably is easier once you have some basic Swift knowledge down.

              li #[a(href="https://www.udacity.com/course/how-to-make-an-ios-app--ud607") How to Make an iOS App] - <em>Intermediate</em> <br> The grand finale of the Udacity iOS development series that builds on all of the previous courses.

              li #[a(href="https://www.udacity.com/course/ios-developer-nanodegree--nd003") iOS Developer Nanodegree] - <em>Beginner - $200/month</em> <br> An upscaled way to experience the Udacity iOS learning path, including more personalized support and advice.

          .resource-links
            h2.heading Blogs

            ul
              li #[a(href="https://iosdevweekly.com/") iOS Dev Weekly] - <em>Intermediate</em> <br> A hand picked roundup of the best iOS development links every week.

              li #[a(href="http://www.weheartswift.com/") We Heart Swift] - <em>Beginner</em> <br> Many tutorials on iOS/Swift topics as well as introductory books you can buy.

              li #[a(href="http://www.learnswift.io/") Learn Swift] - <em>Beginner</em> <br> Ongoing blog with various Swift topics.

              li #[a(href="http://nshipster.com/") NSHipster] - <em>Intermediate</em> <br> Blog with various Swift and other iOS developer topics.

              li #[a(href="http://owensd.io/swift/") owensd.io Blog] - <em>Intermediate</em> <br> David has some really good articles on his blog, especially about JSON and APIs. Frequently updated with new posts.

              li #[a(href="http://natashatherobot.com/") Natasha the Robot] -  <em>Intermediate</em> <br> Blog entries on a range of iOS development topics, including Swift.

        .col-xs-12.col-md-6
          .resource-links
            h2.heading Apple WWDC Sessions

            ul
              li #[a(href="https://developer.apple.com/videos/wwdc/2014/?id=402") Introduction to Swift] - <em>Beginner</em> <br> From the introduction of Swift at the 2014 WWDC. Learn the basics, including how to declare variables, use the fundamental data types, declare functions, and implement classes.

              li #[a(href="https://developer.apple.com/videos/wwdc/2014/?id=408") Swift Playgrounds] - <em>Beginner</em> <br> Playgrounds are an innovative way to explore the Swift programming language. In this session from WWDC 2014, learn how Playgrounds provide new workflows, enable rapid development, help you conveniently step through your code to diagnose bugs, and make it easier than ever to learn new concepts.

              li #[a(href="https://developer.apple.com/videos/wwdc/2014/?id=403") Intermediate Swift] - <em>Intermediate</em> <br> Explore the modern features of the Swift programming language from this WWDC 2014 session. Learn about object initialization, closures, and optionals.

              li #[a(href="https://developer.apple.com/videos/wwdc/2015/?id=106") Whats New in Swift 2.0] - <em>Intermediate</em> <br> Update on the changes in the Swift language for 2.0 at WWDC 2015.

              li #[a(href="https://developer.apple.com/videos/wwdc/2015/?id=802") Designing for the Apple Watch] - <em>Beginner</em> <br> Discussion on designing for the Apple Watch from WWDC 2015.

              li #[a(href="https://developer.apple.com/videos/wwdc/2015/?id=409") Optimizing Swift Performance] - <em>Intermediate</em> <br> Discussion of optimizing techniques from WWDC 2015.

              li #[a(href="https://developer.apple.com/videos/wwdc/2015/?id=411") Swift in Practice] - <em>Intermediate</em> <br> Session from WWDC 2015 on taking advantage of language affordances in Swift 2.0 and enforcing application behavior.

          .resource-links
            h2.heading Other Courses & Tutorials

            ul
              li #[a(href="https://itunes.com/StanfordSwift") Developing iOS 8 Apps with Swift] - <em>Beginner</em> <br> Stanford University course on Swift available on iTunes as a series of 17 lectures.

              li #[a(href="https://itunes.com/PlymouthSwift") iOS Development in Swift] - <em>Beginner</em> <br> Plymouth University course on Swift available through iTunes as series of 50+ shorter lectures.

              li #[a(href="https://www.bignerdranch.com/") Big Nerd Ranch] - <em>Beginner</em> <br> In-person training for iOS development. Also have books available for purchase.

              li #[a(href="https://github.com/danielpi/Swift-Playgrounds") Playgrounds for the Swift Programming Language Book] - <em>Beginner</em> <br> Github repo for learning Swift by working through example code in playgrounds that match the chapters of The Swift Programming Language book.

              li #[a(href="https://www.bloc.io/swiftris-build-your-first-ios-game-with-swift") Learn Swift: Building Your First iOS Game] - <em>Intermediate</em> <br> Step-by-step process of building a tetris-like iPhone app for Swift 1.0.

              li #[a(href="http://www.raywenderlich.com/video-tutorials") Ray Wenderlich Tutorials] - <em>Beginner</em> <br> Tons of great developer tutorials and videos here, although some behind a subscription paywall.

              li #[a(href="http://www.appcoda.com/ios-programming-course/") Appcoda iOS Programming Course] - <em>Beginner</em> <br> Tutorials and blog entries on various iOS development topics.

              li #[a(href="http://swift.staticred.com/fromthestart") Learning Swift] - <em>Beginner</em> <br> Various Swift tutorials in this "Learning Swift" series.

          .resource-links
            h2.heading Topcoder Resources

            ul
              li #[a(href="https://www.topcoder.com/tag/swift/") Swift Posts on topcoder Blog] - <em>All Skill Levels</em> <br> Browse the posts dealing with Swift on the topcoder blog, including the #SwiftSeries on one interns approach to learning Swift.

              li #[a(href="https://www.topcoder.com/challenges/develop/past/?startDate=2014-04-01&technologies=SWIFT&pageIndex=1") Past topcoder Challenges with Swift] - <em>All Skill Levels</em> <br> Listing of previous iOS challenges that involved Swift on topcoder.

              li #[a(href="https://www.topcoder.com/community/member-programs/topcoder-fun-challenges/") Topcoder Fun Series Challenges] - <em>All Skill Levels</em> <br> Interesting challenges on Topcoder, some of which are for iOS

          .resource-links
            h2.heading Forums

            ul
              li #[a(href="http://stackoverflow.com/questions/tagged/swift") Stack Overflow (Swift)] - <em>All Skill Levels</em> <br> Got a question? Need help regarding Swift? Search or post questions on Stack Overflow.
