.top-banner
  section.container
    h1.banner-header Ready to join our #[strong iOS Developer Community?]

    .banner-text
      p Experienced and proven iOS developers are in high-demand.  Prove your skills by earning these iOS topcoder badges and gain exclusive access to iOS challenges and prize accelerators, special previews into Apple&rsquo;s content and releases, and special community-related events and info.

      h2.banner-subheader Benefits for joining the community

      ul
        li &bull; Members of the community will have opportunities to earn higher prizes.

        li &bull; Exclusive access to additional challenges

        li &bull; Earn more badges and prestige!

      ul.banner-actions
        li #[a.learn-link(data-ui-sref='learn') Learn More]

        li #[a.btn(href='javascript:;') Become a member]

section.container.learn-badges-section
  header.section-header
    h1.heading Get iOS training and instruction

    p Whether you are an experienced iOS developer or are just getting started, follow these steps to join and grow in the iOS Developer Community:

  .badge-list.row
    .badge-item.participant-badge.col-xs-12.col-md-4
      .badge-header Participant Badge

      p Sign up as a iOS Developer Community participant and  earn a participant badge.

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

    .badge-item.education-badge.col-xs-12.col-md-4
      .badge-header Education Badges

      p Take an Apple-certified training class to earn Education badges

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

    .badge-item.peer-badge.col-xs-12.col-md-4
      .badge-header Peer Badges

      p Pass a Peer-Review Challenge and get recognized as &ldquo;Swift/iOS Ready!&rdquo;

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

  .badge-list.row
    .badge-item.challenger-badge.col-xs-12.col-md-4
      .badge-header Challenger Badges

      p Register/Submit for your first iOS Mobile App challenge

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

    .badge-item.performer-badge.col-xs-12.col-md-4
      .badge-header High Performer Badges

      p Demonstrate Customer-Ready Skills

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

    .badge-item.custom-badge.col-xs-12.col-md-4
      .badge-header Badge Category

      p Lorem ipsum alpha dolar istest nido

      .badge-link
        a(href='javascript:;') Learn More &gt;

        a(href='javascript:;') View Challenges &gt;

.newsletter-form-wrapper
  section.newsletter-form-section.container
    h1.heading iOS Developer Community.

    form.newsletter-form Sign up to join the conversation.
      input(type='email', placeholder='Your email please')

      button.btn(type='submit') Submit

section.resources-section
  header.section-header.container
    h1.heading Resources to help you along the way

    p Whether you are an experienced iOS developer or are just getting started, our community has resources that will help you become better.

  .resource-subsection.odd
    .container
      section.row
        .col-xs-12.col-md-6.col-md-push-6.logo-column
          img(alt='design logo', src='content/images/design-logo.png')

        .col-xs-12.col-md-6.col-md-pull-6.content-col
          header.section-subheader
            h2.heading UI/UX Design resources

            p Learn to design for iOS standards

          .resource-description
            p Ground round porchetta pancetta ribeye shankle frankfurter flank spare ribs beef. Jowl sirloin brisket tri-tip tongue tenderloin shoulder salami strip steak pork belly hamburger filet mignon pork chop ball tip cupim. Pork belly beef ribs ribeye shoulder. Ribeye pork loin beef ribs landjaeger bacon. Short loin drumstick brisket, ribeye pork chop shoulder pork loin swine turkey. Sausage tenderloin prosciutto swine ball tip. Salami t-bone capicola doner bacon tongue pork filet mignon kevin shank sirloin drumstick boudin andouille.

          ul.resource-links
            li #[a(href='javascript:;') Popular]

            li #[a(href='javascript:;') Application]

            li #[a(href='javascript:;') Mobile]

            li #[a(href='javascript:;') Web]

  .resource-subsection
    .container
      section.row
        .col-xs-12.col-md-6.logo-column
          img(alt='design logo', src='content/images/developer-logo.png')

        .col-xs-12.col-md-6.content-col
          header.section-subheader
            h2.heading iOS Developer resources

            p Learn to develop for iOS standards

          .resource-description
            p Is this your first time learning about Swift? There are some great resources available. ribs beef. Jowl sirloin brisket tri-tip tongue tenderloin shoulder salami strip steak pork belly hamburger filet mignon pork chop ball tip cupim. Pork belly beef ribs ribeye shoulder. Ribeye pork loin beef ribs landjaeger bacon. Short loin drumstick brisket, ribeye pork chop shoulder pork loin swine turkey. Sausage tenderloin prosciutto swine ball tip. Salami t-bone capicola doner bacon tongue pork filet mignon kevin shank sirloin drumstick boudin andouille.

          ul.resource-links
            li #[a(href='javascript:;') Popular]

            li #[a(href='javascript:;') Application]

            li #[a(href='javascript:;') Mobile]

            li #[a(href='javascript:;') Web]

.learn-section.learn-page
  section.container
    header.section-header
      h1.heading What will you learn?

      p Learn, train, compete, and win with the iOS Development Community.

    a.btn(href='javascript:;') Get Started
