.pseudoHeader
carousel.carousel-section(interval="50000")
  slide.developer-slide-1.badgeSlide.slide(ng-repeat="challenge in challenges.slides")
    section.container
      figure.badgeWarp
        span.bdg
      .bdgCon
        h6.slide-title Badge Details
        h1.section-header.ellipses(ng-bind="challenge.title")
        .summary 
         .row
          .desc.col-xs-12 Ready to show your iOS mobile app development skills? The peer-review process is a great way to learn by doing, see how others approach the problem, and get feedback from your peers on your solution.  In fact at topcoder, we feel peer reviews are one of the most important activities you can do to improve your code and skills!  
          .col-xs-12.col-sm-6.cn Successful completion of the peer-review process results in a "iOS Proficient" badge that helps set you apart from other developers in the community.  
          .col-xs-12.col-sm-6.cn Completion Includes:
            ul.lst 
              li Completing a peer-review challenge
              li Reviewing and scoring your peers' solutions
              li Receiving feedback and a "pass" score from your peers
        .learn To learn more about performing peer reviews at topcoder visit our #[a.lnk(href="#") help center].
        .actns
          a.btn.btnChallenges View Peer Challenges

.challenges-section.landing-annon-page
  section.container
    header.section-header.fluid
      h1.heading Current Challenges

      div.browse Browse our available challenges and compete.
        .viewType
          a.lnk(href='#') ViewAll
          a.gridView.hidden-xs(ng-click="isGrid=true")
          a.listView.hidden-xs(ng-click="isGrid=false")

    div.listView.hidden-xs(ng-show="!isGrid")
      ul.challengeList
        li.col-xs-12.header
          div.col1.pull-left &nbsp;
          div.col2.pull-left CHALLENGE
          div.col3.pull-left START &amp;  END TIMES
          div.col4.pull-left REGISTRANTS
          div.col5.pull-left SUBMISSIONS
          div.col6.pull-left REGISTER

        li.liRw.col-xs-12(ng-repeat="challenge in challenges.peerChallenges")
          .chrw.clearfix
            figure.col1.imgWrap.pull-left
              a(href='#')
                img.challenge-image(ng-src="{{challenge.image}}", alt="challenge image")
            .chge.col2.pull-left
              .inner
                h4.chTitle
                  a.ellipses(href="#"){{challenge.title}}
                .rw.ellipses
                  span.lbl Technologies: 
                  span.val{{challenge.technologies}}
                .rw.ellipses
                  span.lbl Platform: 
                  span.val{{challenge.platforms}}
            .pz.ct.col3.pull-left
              .inner
                .rw.lbl Challenge start
                .rw.time{{challenge.startsAt | date:&apos;short&apos; : &apos;UTC&apos;}} UTC
                .rw.lbl.nd Challenge end
                .rw.time{{challenge.deadline | date:&apos;short&apos; : &apos;UTC&apos;}} UTC
            .regs.col4.pull-left
              .inner
                .reg
                  a{{challenge.registrants}}
            .subs.col5.pull-left
              .inner
                .sub
                  a{{challenge.submissions}}
            .bdgPref.col6.pull-left
              .inner
                a.btn.secondary.btnSelect(href="#") Select
 
   ul.challenges.row(ng-show="isGrid")
      li.col-xs-12.col-sm-6.col-md-4(ng-repeat="challenge in challenges.peerChallenges")
        section.challenge
          .challenge-type {{challenge.type}}

          img.challenge-image(ng-src="{{challenge.image}}", alt="challenge image")

          .challenge-details
            h2.challenge-header
              a(href="javascript:;") {{challenge.title}}

            .challenge-data
              p #[span.challenge-field Technologies:] {{challenge.technologies}}

            .challenge-data
              p #[span.challenge-field Platform:] {{challenge.platforms}}

            .challenge-data
              p #[span.challenge-field Challenge start]

            .challenge-deadline {{challenge.startsAt | date:&apos;short&apos; : &apos;UTC&apos;}} UTC

            .challenge-data
              p #[span.challenge-field Challenge end]

            .challenge-deadline {{challenge.deadline | date:&apos;short&apos; : &apos;UTC&apos;}} UTC

            .row.challenge-stats
              .col-xs-6.challenge-registrants.challenge-stat
                .stats-type REGISTRANTS

                .stats-value
                  a(href="javascript:;") {{challenge.registrants}}

              .col-xs-6.challenge-submissions.challenge-stat
                .stats-type SUBMISSIONS

                .stats-value
                  a(href="javascript:;") {{challenge.submissions}}
            .challenge-actns
                a.btn.secondary.btnSelect(href="#") Select

    ul.section-actions
      li #[a(href="#") Load more...]

.learn-section.learn-page
  section.container
    header.section-header
      h1.heading What will you learn?

      p Learn, train, compete, and win with the Apple Development Community.

    a.btn(href="#") Get Started



