.pseudoHeader
carousel.carousel-section(interval="50000")
  slide.developer-slide-1.slide(ng-repeat="challenge in challenges.slides")
    section.container
      h6.slide-title Feature challenge
      h1.section-header.ellipses(ng-bind="challenge.title")
      .summary(ng-bind="challenge.summary")
      span.ico(ng-class="challenge.challengeIco")
      .contestDetails 
        .rw 
          .lbl Technologies:
          .val(ng-bind="challenge.technologies")
        .rw 
          .lbl Platform:
          .val(ng-bind="challenge.platform")
        .rw.alt.prizeRw
          .v $
            span(ng-bind="challenge.prize")
        .rw.alt.time(ng-bind="challenge.time")
        .rw.reg
          .lt.fr
            .ca REGISTRANTS
            .vl(ng-bind="challenge.registrants")
          .rt.fs
            .ca SUBMISSIONS
            .vl(ng-bind="challenge.submissions")
        .actns
          a.btn.secondary.btnReg Reister
          a.lnkLiked
          a.lnk View all challenges

.challenges-section.landing-annon-page
  section.container
    header.section-header.fluid
      h1.heading Current Challenges

      div.browse Browse our available challenges and compete.
        .viewType.hidden-xs
          a.gridView(ng-click="isGrid=true")
          a.listView(ng-click="isGrid=false")

    div.listView.hidden-xs(ng-show="!isGrid")
      ul.challengeList
        li.col-xs-12.header
          div.col1.pull-left &nbsp;
          div.col2.pull-left CHALLENGE
          div.col3.pull-left PRIZE &amp;  DEADLINE
          div.col4.pull-left REGISTRANTS
          div.col5.pull-left SUBMISSIONS
          div.col6.pull-left iOS Badged Preferred

        li.liRw.col-xs-12(ng-repeat="challenge in challenges.challengeList")
          .chrw.clearfix
            figure.col1.imgWrap.pull-left
              a(href='#')
                img.challenge-image(ng-src="{{challenge.image}}", alt="challenge image")
            .chge.col2.pull-left
              .inner
                h4.chTitle
                  a.ellipses(href="#"){{challenge.title}}
                .rw.ellipses
                  span.lbl Technologies: 
                  span.val{{challenge.technologies}}
                .rw.ellipses
                  span.lbl Platform: 
                  span.val{{challenge.platforms}}
            .pz.col3.pull-left
              .inner
                .rw.prize {{challenge.prize}}
                .rw.time{{challenge.deadline | date:&apos;short&apos; : &apos;UTC&apos;}} UTC
            .regs.col4.pull-left
              .inner
                .reg
                  a{{challenge.registrants}}
            .subs.col5.pull-left
              .inner
                .sub
                  a{{challenge.submissions}}
            .bdgPref.col6.pull-left
              .inner
                a.bgd(ng-if="challenge.isBadgePreferred")
 
   ul.challenges.row(ng-show="isGrid")
      li.col-xs-12.col-sm-6.col-md-4(ng-repeat="challenge in challenges.challengeList")
        section.challenge
          .challenge-type {{challenge.type}}

          img.challenge-image(ng-src="{{challenge.image}}", alt="challenge image")

          .challenge-details
            h2.challenge-header
              a(href="javascript:;") {{challenge.title}}

            .challenge-data
              p #[span.challenge-field Technologies:] {{challenge.technologies}}

            .challenge-data
              p #[span.challenge-field Platform:] {{challenge.platforms}}

            .challenge-prize {{challenge.prize}}

            .challenge-deadline {{challenge.deadline | date:&apos;short&apos; : &apos;UTC&apos;}} UTC

            .row.challenge-stats
              .col-xs-6.challenge-registrants.challenge-stat
                .stats-type REGISTRANTS

                .stats-value
                  a(href="javascript:;") {{challenge.registrants}}

              .col-xs-6.challenge-submissions.challenge-stat
                .stats-type SUBMISSIONS

                .stats-value
                  a(href="javascript:;") {{challenge.submissions}}

    ul.section-actions
      li #[a(href="#") Load more...]

.learn-section.learn-page
  section.container
    header.section-header
      h1.heading What will you learn?

      p Learn, train, compete, and win with the Apple Development Community.

    a.btn(href="#") Get Started



