- bowerJsFiles = []
- bowerJsFiles.push('angular/angular')
- bowerJsFiles.push('angular-ui-router/release/angular-ui-router')
- bowerJsFiles.push('angular-jwt/dist/angular-jwt')

- bowerCssFiles = []
- bowerCssFiles.push('bootstrap/dist/css/bootstrap')

- jsFiles = []
- jsFiles.push('app')
- jsFiles.push('app.constants')
- jsFiles.push('app.interceptors')
- jsFiles.push('app.routes')
- jsFiles.push('landing/landing')
- jsFiles.push('learn/learn')
- jsFiles.push('layout/header')
- jsFiles.push('services/api.service')
- jsFiles.push('services/auth-token.service')
- jsFiles.push('services/auth.service')
- jsFiles.push('services/helpers.service')
- jsFiles.push('services/user.service')

doctype html
html
  head
    meta(charset="utf-8")

    title Lime Topcoder

    meta(name="description", content="")

    meta(name="viewport", content="width=device-width")

    // build:css(.) content/css/vendor.css
    each bowerCssFile in bowerCssFiles
      link(rel="stylesheet", href="bower_components/#{bowerCssFile}.css")
    // endbuild

    // build:css(.tmp) content/css/app.css
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', type='text/css')
    link(rel="stylesheet", href="content/css/app.css", type='text/css')
    link(rel="stylesheet", href="content/css/header.css", type='text/css')
    link(rel="stylesheet", href="content/css/footer.css", type='text/css')
    // endbuild

  body(ng-app="lime-topcoder")
    header(ng-include="'layout/header.html'")

    .view-container(ui-view)

    footer(ng-include="'layout/footer.html'")

    //- We can delete if not using v3 auth
    // script(src="https://cdn.auth0.com/js/lock-7.0.min.js", type="text/javascript")

    // build:js(.) scripts/vendor.js
    each bowerJsFile in bowerJsFiles
      script(src="bower_components/#{bowerJsFile}.js", type="text/javascript")
    // endbuild

    // build:js({.tmp,app}) scripts/app.js
    each jsFile in jsFiles
      script(src="#{jsFile}.js", type="text/javascript")
    // endbuild
