- bowerJsFiles = []
- bowerJsFiles.push('jquery/dist/jquery.min')
- bowerJsFiles.push('bootstrap/dist/js/bootstrap.min')
- bowerJsFiles.push('angular/angular')
- bowerJsFiles.push('angular-ui-router/release/angular-ui-router')
- bowerJsFiles.push('angular-jwt/dist/angular-jwt')
- bowerJsFiles.push('angular-dropdowns/dist/angular-dropdowns.min')
- bowerJsFiles.push('angular-bootstrap/ui-bootstrap-tpls.min')
- bowerJsFiles.push('iCheck/icheck.min')

- bowerCssFiles = []
- bowerCssFiles.push('bootstrap/dist/css/bootstrap')
- bowerCssFiles.push('angular-dropdowns/dist/angular-dropdowns')

- jsFiles = []
- jsFiles.push('app')
- jsFiles.push('app.constants')
- jsFiles.push('app.interceptors')
- jsFiles.push('app.routes')
- jsFiles.push('layout/main')
- jsFiles.push('landing/landing')
- jsFiles.push('learn/learn')
- jsFiles.push('login/login')
- jsFiles.push('register/register')
- jsFiles.push('layout/header')
- jsFiles.push('services/api.service')
- jsFiles.push('services/auth-token.service')
- jsFiles.push('services/auth.service')
- jsFiles.push('services/countries.service')
- jsFiles.push('services/helpers.service')
- jsFiles.push('services/user.service')
- jsFiles.push('directives/checkbox')
- jsFiles.push('directives/requiredDropdown')

doctype html
html
  head
    meta(charset="utf-8")

    title iOS Member Program

    meta(name="description", content="")

    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // build:css(.) content/css/vendor.css
    each bowerCssFile in bowerCssFiles
      link(rel="stylesheet", href="bower_components/#{bowerCssFile}.css")
    // endbuild

    // build:css(.tmp) content/css/app.css
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', type='text/css')
    link(rel="stylesheet", href="content/css/reset.css", type="text/css")
    link(rel="stylesheet", href="content/css/app.css", type='text/css')
    link(rel="stylesheet", href="content/css/header.css", type='text/css')
    link(rel="stylesheet", href="content/css/footer.css", type='text/css')
    link(rel="stylesheet", href="content/css/landing.css", type="text/css")
    link(rel="stylesheet", href="content/css/learn.css", type="text/css")
    link(rel="stylesheet", href="content/css/login.css", type='text/css')
    link(rel="stylesheet", href="content/css/register.css", type='text/css')
    // endbuild

  body(ng-app="lime-topcoder", ng-controller="main as main")
    header.header-row(ng-include="'layout/header.html'")

    .view-container(ui-view, ng-class="$state.current.name")
    .view-container-loading(ng-show="main.loggingIn")
      div Loading...

    footer.login-footer.footer(ng-include="'layout/footer.html'")

    script(src="https://cdn.auth0.com/w2/auth0-1.6.4.js", type="text/javascript")

    // build:js(.) scripts/vendor.js
    each bowerJsFile in bowerJsFiles
      script(src="bower_components/#{bowerJsFile}.js", type="text/javascript")
    // endbuild

    // build:js({.tmp,app}) scripts/app.js
    each jsFile in jsFiles
      script(src="#{jsFile}.js", type="text/javascript")
    // endbuild
