.container.confirm-registration
  .logo
    img(src="")
  .col-xs-12(rel="welcome-msg")
    div(rel="title")
      span Congratulations!!!
    div(rel="description")
      p Thanks for registering for the Apple Swift certification program on topcoder.
    a.btn.btn-primary(ui-sref="learn")  Click here to get started
