.landing-banner
  section.container
    header.section-header
      img(class="landing-logo", src="content/images/logo-landing.png", alt="TopCoder logo")

      h1.heading(ng-show="!main.loggedInUser") Dear Developers,
        strong We love you.

      h1.heading(ng-show="main.loggedInUser") Welcome #{''}
        span(ng-bind="main.loggedInUser.handle")
        span ,
        strong We especially love you.

    .banner-text(ng-show="!main.loggedInUser")
      p You continually push yourself to learn the latest mobile app technologies life Swift in order to stand out from the crowd and deliver innovative solutions for top companies. And we want to help you prove what you can do, hone your skills, earn cash, and get recognized for your amazing work. Become part of the topcoder iOS Community and raise your mobile app dev game by earning badges and competing in real-world app development challenges.

    .banner-text(ng-show="main.loggedInUser && !main.loggedInUser.memberSince")
      p Thanks for joining. Before you can compete, you'll need to confirm your email account with topcoder, so be sure to check your email for the activation link.

    .banner-text(ng-show="main.loggedInUser && main.loggedInUser.memberSince")
      p You’re eager to get started, and we’ve got a bunch of iOS/Swift challenges lined up to give you new opportunities to earn cash. We’ve also rolled out a new badging program to prove your app development expertise, and during Swiftoberfest you’ll have a chance to win great prizes by competing in challenges.

    ul.banner-actions
      li #[a.learn-link(href='#learn-more', du-smooth-scroll) Learn More]

      li(ng-show="!main.loggedInUser") #[a.btn(ui-sref="register") Become a Member]
      li(ng-show="main.loggedInUser && main.loggedInUser.memberSince") #[a.btn(ui-sref="challenges({type: 'all'})", du-smooth-scroll) Start Competing]

.get-training-section#learn-more
  section.container
    h1.section-header Complete badges. Develop apps.  Earn cash.

    .row
      .col-xs-12.col-md-6.col-md-push-6.content-col
        p There’s never been a better time to join topcoder and begin honing your iOS design and development skills, because starting in October we’re kicking off Swiftoberfest: a three-month program during which we’re giving away cash and tons of great prizes for completing challenges, earning Swift badges, and competing in iOS design and Swift development challenges for 10 select enterprise customers.

        ul.section-actions
          li
            a(ui-sref="challenges({type: 'all'})") View challenges

          li(ng-show="!main.loggedInUser")
            a.btn(ui-sref="register") Become a member

.challenges-section#challenges
  section.container
    header.section-header
      h1.heading Current Challenges

      p Browse our available challenges and compete.

    ul.challenges.row
      li.col-xs-12.col-sm-6.col-md-4(ng-repeat="challenge in vm.challenges")
        section.challenge
          a.challenge-image(ng-href="https://www.{{vm.domain}}/challenge-details/{{challenge.challengeId}}/?type=develop")
            img(ng-show="challenge.reviewType == 'PEER'", src="content/images/svg/SYS-IOS-Swift-Ready-06.svg", alt="challenge image")
            img(ng-show="challenge.challengeCommunity == 'design'", src="content/images/svg/design-generic.svg", alt="challenge image", class='design-dev')
            img(ng-show="challenge.reviewType != 'PEER' && challenge.challengeCommunity != 'design'", src="content/images/svg/development-generic.svg", alt="challenge image", class='design-dev')

          .challenge-details
            h2.challenge-header
              a(ng-href="https://www.{{vm.domain}}/challenge-details/{{challenge.challengeId}}/?type=develop") {{challenge.challengeName}}

            .challenge-data
              p #[span.challenge-field Technologies:] {{challenge.technologies}}

            .challenge-data
              p #[span.challenge-field Platform:] {{challenge.platforms}}

            .challenge-prize(ng-hide="challenge.reviewType == 'PEER'") {{challenge.totalPrize || 0 | currency:undefined:0}}

            .challenge-deadline(ng-hide="challenge.reviewType == 'PEER'") {{challenge.submissionEndDate | localTime}}

            .challenge-peer(ng-show="challenge.reviewType == 'PEER'")
              .timeHeader Challenge start
              .time(ng-bind="challenge.registrationStartDate | localTime")
              .timeHeader.timeEnd Challenge end
              .time(ng-bind="challenge.submissionEndDate | localTime")

            .row.challenge-stats
              .col-xs-6.challenge-registrants.challenge-stat
                .stats-type REGISTRANTS

                .stats-value
                  a(ng-href="https://www.{{vm.domain}}/challenge-details/{{challenge.challengeId}}/?type=develop#viewRegistrant") {{challenge.numRegistrants}}

              .col-xs-6.challenge-submissions.challenge-stat
                .stats-type SUBMISSIONS

                .stats-value
                  a(ng-href="https://www.{{vm.domain}}/challenge-details/{{challenge.challengeId}}/?type=develop#viewRegistrant") {{challenge.numSubmissions}}

    ul.section-actions
      li
        a(ui-sref="challenges({type: 'all'})") View full challenge list

section.learn-improve-section
  .subsections
    .container
      .row.visible-md-block.visible-lg-block
        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Up Your iOS and Swift Development Skills

        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Take the First Steps to Stand Out in the Community

        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Compete in Challenges and Win Cash

      .row.visible-md-block.visible-lg-block
        section.col-sm-12.col-md-4.info-col
          p Just getting started with iOS or Swift? Check out our community resources to jumpstart your learning.

        section.col-sm-12.col-md-4.info-col
          p Prove your skills by competing in skills-based challenges with your peers and earning topcoder iOS badges.

        section.col-sm-12.col-md-4.info-col
          p Ready to compete in real-world challenges? Jump into a challenge and work on apps for some of the world’s top brands.

      .row.visible-md-block.visible-lg-block
        section.col-sm-12.col-md-4.info-col
          .link-row
            a(ui-sref="challenges({type: 'peer'})") Browse resources

        section.col-sm-12.col-md-4.info-col
          .link-row
            a(ui-sref="badges") Learn about badges

        section.col-sm-12.col-md-4.info-col
          .link-row
            a(ui-sref="challenges({type: 'all'})") See current challenges

      .row.visible-xs-block.visible-sm-block
        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Up Your iOS and Swift Development Skills

          p Just getting started with iOS or Swift? Check out our community resources to jumpstart your learning.

          .link-row
            a(ui-sref="challenges({type: 'peer'})") Browse Resources

        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Take the First Steps to Stand Out in the Community

          p Prove your skills by competing in challenges with your peers and earning topcoder iOS badges.

          .link-row
            a(ui-sref="badges") Learn about badges

        section.col-sm-12.col-md-4.info-col
          h2.subsection-header Compete in Challenges and Win Cash

          p Ready to compete in real-world challenges? Jump into a challenge and work on apps for some of the world’s top brands.

          .link-row
            a(ui-sref="challenges({type: 'all'})") See current challenges

.learn-section(ng-hide="main.loggedInUser")
  section.container
    header.section-header
      h1.heading Ready to Stand Out in the Crowd?

      p Learn, get badged, and compete as a member of the iOS Community

    a.btn(ui-sref="register") Become a Member
