section.container.learn-badges-section#learn-more
  header.section-header
    h1.heading Stand Out in the iOS Community

    p Learn, get badged, and compete as a member of the iOS Community
  .badge-list.row
    .badge-item.participant-badge.col-xs-12.col-md-4
      .badge-header Participant Badge

      p.badge-desc(ng-show="!vm.registered") Join the iOS Community to earn the participant badge.

      p.badge-desc(ng-show="vm.registered")
        img.achieved(src="content/images/ico-okay-check.png", srcset="content/images/ico-okay-check@2x.png 2x")
        span(ng-show="!vm.registrationSuccess") You have the participant badge
        span(ng-show="vm.registrationSuccess") Congratulations!!! You just earned the participant badge

      .badge-link
        a.btn(ng-click="vm.registerForProgram()", ng-class="{invisible: vm.registered}") Select
        span.text-danger.margin-left-2x(ng-show="vm.registrationError", ng-bind="vm.registrationError")

    .badge-item.education-badge.col-xs-12.col-md-4
      .badge-header Education Badges

      p Take an iOS training class to earn Education badges

      .badge-link
        a.btn(ui-sref="challenges({type: 'peer'})", disabled) Coming Soon

    .badge-item.peer-badge.col-xs-12.col-md-4
      .badge-header Show Your Skills Badges

      p Pass a Show-Your-Skills Challenge and get recognized as “Swift/iOS Ready!”

      .badge-link
        a.btn(ui-sref="challenges({type: 'peer'})") Select

  .badge-list.row
    .badge-item.develop-challenger-badge.col-xs-12.col-md-4
      .badge-header Developer Challenger Badge

      p.badge-desc(ng-show="vm.developerBadge")
        img.achieved(src="content/images/ico-okay-check.png", srcset="content/images/ico-okay-check@2x.png 2x")
        span You have the developer badge

      .no-badge(ng-show="!vm.developerBadge")
        p Register, submit, and pass review for your first iOS developer challenge

        .badge-link
          a.btn(ui-sref="challenges({type: 'all'})") Select

    .badge-item.design-challenger-badge.col-xs-12.col-md-4
      .badge-header Design Challenger Badge

      p.badge-desc.has(ng-show="vm.designerBadge")
        img.achieved(src="content/images/ico-okay-check.png", srcset="content/images/ico-okay-check@2x.png 2x")
        span You have the designer badge

      .no-badge(ng-show="!vm.designerBadge")
        p Register, submit, and pass checkpoint for your first iOS design challenge

        .badge-link
          a.btn(ui-sref="challenges({type: 'all'})") Select


    .badge-item.performer-badge.col-xs-12.col-md-4
      .badge-header High Performer Badges

      p Demonstrate customer-ready skills

      .badge-link
        a.btn(ui-sref="challenges({type: 'all'})", disabled) Coming Soon
.learn-section(ng-hide="main.loggedInUser")
  section.container
    header.section-header
      h1.heading Ready to Stand Out in the Crowd?

      p Learn, get badged, and compete as a member of the iOS Community

    a.btn(ui-sref="register") Become a member
