@import 'partials/combined';

// Fixes problems with not setting hrefs (see http://angular-ui.github.io/bootstrap/ under CSS)
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  @include myriad-pro;
}

.view-container-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba( 0, 0, 0, .8 );
}

.page-header {
  padding: 0;
  margin: 0;
}

.container {
  width: auto;
  max-width: 1190px;
}

// Element Styles
a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

.btn {
  @include myriad-pro-light;
  font-size: 16px;
  display: inline-block;
  line-height: 30px;
  padding: 0 14px 0 17px;
  border-radius: 4px;
  height: 30px;
}

.btn, .btn:hover, .btn:focus, .btn:active {
  border: none;
  outline: none;
  box-shadow: none;
  color: $white;
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAeCAIAAACJwFiTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAADKSURBVBhXDcLfSsJgGAfg34X4ve+7lZ7ZDfknSRyJlmDmiOEM9SjPvBBl4WKGSi4nC9bMEyHvoa7B7+EBT040+UUp+C8Gf8i/HK/GR+SGh9zogOxgnx3+4PI5veinMN1v000gbiK9BNz70sFOLE4M4ynWYdo7045g2JF0I0jn03jcgh9C6YSQ9kaHtD50cGtN92vw3YqbK1BzqRpLUP1dB98upL4AW4FYAajms/UGqvpc9aFu5jqo8qoqHqjs0bWHTGmmQxWmqjA9A/uoUNgk6ugEAAAAAElFTkSuQmCC);
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #1c1c1c;
}

::-moz-placeholder {
  color: #1c1c1c;
}

:-ms-input-placeholder {
  color: #1c1c1c;
}

.placeholdersjs {
  color: #1c1c1c;
}

button {
  border: none;
  padding: 0;
}

.padding-reset {
  padding: 0px;
}

.margin-left-2x {
  margin-left: 10px;
}

.invisible {
  visibility: hidden;
}

// Common Sections
.challenges .learn-section,
.landing .learn-section,
.learn .learn-section,
.badges .learn-section,
.faq .view-challenges { 
  background-color: #eee;
  padding: 0 15px 42px;
  text-align: center;

  .section-header {
    @include myriad-pro-light;
    margin-top: 42px;
    color: #45474b;

    .heading {
      margin-bottom: 13px;
      color: #323334;
      line-height: 48px;
      font-size: 48px;
      @media only screen and (max-width: 800px) {
        font-size: 32px;
        line-height: 32px;
      }
      @media only screen and (max-width: 530px) {
        font-size: 27px;
        line-height: 27px;
      }
    }
    p {
      font-size: 29px;
      @media only screen and (max-width: 800px) {
        font-size: 20px;
      }
      @media only screen and (max-width: 530px) {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .btn {
    color: $white;
    margin-top: 30px;
    @media only screen and (max-width: 800px) {
      margin-top: 20px;
    }
  }
}
.landing .newsletter-form-wrapper,
.learn .newsletter-form-wrapper {
  background-image: url('../images/community-background.png');
  background-size: cover;
  background-position: 50% 50%;
  padding: 40px 15px 46px 15px;
  @include myriad-pro-light;
  @media only screen and (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
  }

  @include retina {
      background-image: url('../images/community-background@2x.png');
  }

  .newsletter-form-section {
    color: $white;
    text-align: center;
    @media only screen and (max-width: 568px) {
      font-size: 24px;
    }

    .heading {
      font-size: 48px;
      margin-top: 18px;
      @media only screen and (max-width: 415px) {
        font-size: 24px;
      }
    }
    p {
      margin-top: 13px;
      font-size: 30px;
    }
    &:before {
      @include icon-sprite;
      background-position: 0px 0px;
      width: 110px;
      height: 81px;
      display: block;
      margin: 0 auto;
    }
    .newsletter-form {
      margin: 0 auto;
      width: 380px;
      @media only screen and (max-width: 568px) {
        width: auto;
        color: red;
      }

      .mktoFormRow {
        @include myriad-pro-light;
        margin-bottom: 15px;
        @media only screen and (max-width: 568px) {
          padding-left: 25px;
          padding-right: 25px;
        }

        .mktoOffset {
          display: none !important;
        }
        .mktoFormCol {
          @media only screen and (max-width: 568px) {
            width: 100%;
          }
          .mktoFieldWrap {
            @media only screen and (max-width: 568px) {
              width: 100%;
            }
          }
        }
        input {
          @media only screen and (max-width: 568px) {
            width: 100% !important;
          }
        }
      }
      .mktoButtonRow {
        margin: 0 auto;
        width: 118px;
        display: block;

        .mktoButton {
          @include myriad-pro-light;
          font-size: 16px !important;
          margin: 0 !important;
        }
      }
    }
  }
}
