@import 'partials/combined';

body {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  width: 1200px;
}

.container div[rel="welcome-msg"] div[rel="title"] {
	font-size: 26px;
}

.container div[rel="welcome-msg"] div[rel="description"] {
	font-size: 14px;
}

.container.login {
}