@import 'partials/combined';

// Fixes problems with not setting hrefs (see http://angular-ui.github.io/bootstrap/ under CSS)
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  @include myriad-pro();
}

.view-container-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  // TODO change loading image
  background: rgba( 0, 0, 0, .8 )
              url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
}

.page-header {
  padding: 0;
  margin: 0;
}

.container {
  width: auto;
  max-width: 1190px;
}

// Element Styles
a, a:visited, a:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  line-height: 30px;
  padding: 0 14px 0 17px;
  border-radius: 4px;
  height: 30px;
}

.btn, .btn:hover, .btn:focus, .btn:active {
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAeCAIAAACJwFiTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAADKSURBVBhXDcLfSsJgGAfg34X4ve+7lZ7ZDfknSRyJlmDmiOEM9SjPvBBl4WKGSi4nC9bMEyHvoa7B7+EBT040+UUp+C8Gf8i/HK/GR+SGh9zogOxgnx3+4PI5veinMN1v000gbiK9BNz70sFOLE4M4ynWYdo7045g2JF0I0jn03jcgh9C6YSQ9kaHtD50cGtN92vw3YqbK1BzqRpLUP1dB98upL4AW4FYAajms/UGqvpc9aFu5jqo8qoqHqjs0bWHTGmmQxWmqjA9A/uoUNgk6ugEAAAAAElFTkSuQmCC);
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #1c1c1c;
}

::-moz-placeholder {
  color: #1c1c1c;
}

:-ms-input-placeholder {
  color: #1c1c1c;
}

.placeholdersjs {
  color: #1c1c1c;
}

button {
  border: none;
  padding: 0;
}

.padding-reset {
  padding: 0px;
}

// To do: figure out what these did:

// /*** iOS textbox inner shadow reset ***/
// input[type="checkbox"],input[type="password"],input[type="email"],textarea,.txt-box{
// 	-webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

// @media(max-width: 490px){
// 	.fields label .agree-txt{
// 		width: 197px;
// 		display: block;
// 		line-height: 20px;
// 		margin: 10px 0 0 0;
// 	}
// }
