@import 'partials/combined';
.ellipses{  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.challengeListing {
    // Common section styles
    .section-actions {
        margin-top: 42px;
        li {
            display: inline-block;
            & + li {
                margin-left: 40px;
            }
        }
    }
    .btn {
        line-height: 34px;
    }
    .section-actions li,
    .section-action {
        color: $light-blue;
        font-size: 22px;
    }
    .pseudoHeader {
        height: 48px;
    }
    // Community Section
    .newsletter-form-wrapper {
        background: url('../images/community-background.png');
        background-size: cover;
        background-position: 50% 50%;
        padding: 40px 15px 46px 15px;
        .newsletter-form-section {
            font-size: 30px;
            font-weight: 300;
            color: $white;
            text-align: center;
            .heading {
                font-size: 48px;
                margin-top: 18px;
            }
            &:before {
                background-image: url('../images/sprite.png');
                background-position: 0px 0px;
                background-repeat: no-repeat;
                width: 110px;
                height: 81px;
                display: block;
                margin: 0 auto;
            }
            .newsletter-form {
                margin-top: 13px;
                input, .btn {
                    display: block;
                    margin: 0 auto;
                }
                input {
                    border: 2px solid #404040;
                    height: 48px;
                    width: 100%;
                    max-width: 365px;
                    border-radius: 24px;
                    text-align: center;
                    color: #1c1c1c;
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 21px;
                    padding: 0 15px;
                }
                .btn {
                    width: 118px;
                    margin-top: 28px;
                }
            }
        }
    }
    .challengeList {
        margin-top: 62px;

        li{    
          display: block;
          float: none;

          .col1{
            width: 15.5%; 
          }    
          .col2{
            width: 26.5%;
          }    
          .col3{
            width: 18.5%; 
          }    
          .col4{
            width: 13.5%; 
          }    
          .col5{
            width: 13%; 
          }    
          .col6{
            width: 13%; 
          }

        }

        li.header{
          font-size: 11px;
          @include myriad-pro-sb();
          color: #030303;
          opacity: 0.8;
          text-align: center;
          line-height: 14px;
          height: 32px;
          padding: 0;
        }
        li.liRw {
            border-radius: 7px;
            box-shadow: 0 1px 4px rgba(58, 58, 58, 0.3);
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
            /* Chrome10+,Safari5.1+ */
            
            background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
            /* IE10+ */
            
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#0d878787', GradientType=0);
            margin-bottom: 10px;
            padding: 0;
        }
        .chrw {
            border-radius: 7px;
            padding: 14px 0 16px 0;
            background: #fff;
            height: 119px;
        }
        .imgWrap {
            width: 15.5%;
            a {
                display: block;
                max-width: 166px;
                height: 119px;
                overflow: hidden;
                margin-top: -14px;
                border-radius: 7px 0 0 7px;
                .challenge-image {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .chge {
            font-size: 16px;
            width: 26.5%;
            border-right: 1px solid #c3c3c3;
            text-align: center;
            height: 89px;
            padding: 0 2px;
            .inner {
                max-width: 100%;
                overflow: hidden;
                padding-top: 4px;
                display: inline-block;
                text-align: left;
            }
            .chTitle {
                opacity: 0.9;
                color: #030303;
                width: 100%;
                a {
                    font-size: 20px;
                    color: inherit;
                    display: block;
                }
            }
            .rw {
                opacity: 0.7;
                line-height: 22px;
                .lbl {
                    font-weight: bold;
                }
                .val {}
            }
        }
        .pz {
            text-align: center;
            width: 18.5%;
            border-right: 1px solid #C3C3C3;
            .inner {
                max-width: 100%;
                overflow: hidden;
                padding-top: 15px;
                display: inline-block;
                text-align: left;
                height: 89px;
            }
            .prize {
                opacity: 0.9;
                color: #030304;
                font-size: 36px;
            }
            .time {
                opacity: 0.8;
                color: #030304;
                font-size: 14px;
                font-weight: 300;
                margin: 3px 0 0 4px;
            }
        }
        .regs {
            text-align: center;
            width: 13.5%;
            border-right: 1px solid #C3C3C3;
            .inner {
                max-width: 100%;
                overflow: hidden;
              padding-top: 15px;
                display: inline-block;
                text-align: left;
                height: 89px;
            }
            .reg {
                a {
                  display: inline-block;
                  opacity: 0.9;
                  color: #1E61B3;
                  font-size: 30px;
                  height: 30px;
                  line-height: 35px;
                  margin-top: 9px;
                }
                a:before{
                  content: '';
                  display: inline-block;
                  background-image: url('../images/sprite.png');
                  background-position: -102px -175px;
                  background-repeat: no-repeat;
                  width: 34px;
                  height: 29px;        
                  margin-right: 18px;
                  vertical-align: top;          
                }
            }
        }
        .subs {
            text-align: center;
            width: 13%;
            border-right: 1px solid #C3C3C3;
            .inner {
                max-width: 100%;
                overflow: hidden;
                padding-top: 15px;
                display: inline-block;
                text-align: left;
                height: 89px;
            }
            .sub {
                a {
                  display: inline-block;
                  opacity: 0.9;
                  color: #1E61B3;
                  font-size: 30px;
                  height: 30px;
                  line-height: 35px;
                  margin-top: 9px;
                }
                a:before{
                  content: '';
                  background-image: url('../images/sprite.png');
                  background-position: -66px -175px;
                  background-repeat: no-repeat;
                  width: 34px;
                  height: 30px;   
                  margin-right: 17px;
                  vertical-align: top;   
                  display: inline-block;      
                }
            }
        }
        .bdgPref {
            text-align: center;
            width: 13%;
            .inner {
                max-width: 100%;
                overflow: hidden;
                display: inline-block;
                text-align: left;
                height: 89px;
            }
            .bgd {
              display: inline-block;
              width: 46px;
              height: 63px;
              margin-top: 11px;
              background: url('../images/ico-bdg.png') 0 0 no-repeat;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        .newsletter-form-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
        .newsletter-form-section {
            font-size: 24px;
            .heading {
                font-size: 38px;
            }
        }
    }
    // Badges section
    .section-header {
        max-width: 930px;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;
        opacity: 0.9;
        color: #242f2d;
        font-size: 30px;
        margin-top: 69px;
        line-height: 1.3em;
        @include myriad-pro-light();

        .heading {
            color: $header-gray;
            font-size: 48px;
            margin-bottom: 20px;
        }
        .browse{
          position: relative;

          .viewType{
            position: absolute;
            right: 0;
            top: 9px;

            a{
              display: inline-block;
              width: 30px;
              height: 30px;
              background: url(../images/ico-view.png) no-repeat;
              background-position:  0 0;
              margin-left: 11px;
            }
            .gridView{
              background-position:  0 0;
            }
            .listView{
              background-position:  0 -50px;

            }
          }

        }
    }
    .section-header.fluid{
      width: 100%;
      max-width: 3000px;
    }
    // Learn section
    .learn-section {
        background-color: #fff;
        padding: 0 15px 74px 15px;
        margin-top: 44px;
        text-align: center;
        .section-header {
            font-weight: 300;
            margin-top: 42px;
            color: #45474b;
            .heading {
                margin-bottom: 13px;
                color: #323334;
            }
        }
        .btn {
            color: $white;
            margin-top: 38px;
            width: 120px;
        }
    }
    .learn-section.learn-page {
        padding-bottom: 59px;
        .section-header {
            margin-top: 70px;
        }
        .btn {
            margin-top: 52px;
        }
    }
    // Not logged in: top banner
    .landing-banner {
        background: url('../images/banner-landing.png');
        background-size: cover;
        background-position: 50% 50%;
        padding-top: 70px;
        padding-bottom: 119px;
        .section-header {
            text-align: left;
            padding: 0;
            @include myriad-pro-light();
            .heading {
                margin-top: 45px;
                color: #565859;
            }
            strong {
                color: #333e48;
                font-size: 67px;
                display: block;
                margin-top: 32px;
            }
        }
        .banner-text {
            max-width: 520px;
            color: $blue-gray;
            font-size: 20px;
            margin-top: 42px;
            margin-left: 6px;
            line-height: 1.3em;
        }
        .banner-actions {
            margin-top: 75px;
            line-height: 30px;
            li {
                display: inline-block;
                & + li {
                    margin-left: 40px;
                }
            }
            a:not(.btn) {
                color: #3a444c;
                font-size: 24px;
                text-decoration: none;
            }
            .btn {
                padding: 0 25px;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        .landing-banner {
            padding-left: 87px;
            img {
                margin-left: -28px;
            }
            .section-header {
                margin-left: 0;
            }
        }
    }
    // Not logged in: Get training section
    .get-training-section .section-header {
        color: $header-gray;
        font-size: 48px;
        opacity: 1;
        font-weight: 300;
        margin-top: 8px;
    }
    .get-training-section .content-col {
        color: $blue-gray;
        font-size: 18px;
        line-height: 26px;
        &:before {
            content: '';
            background: url('../images/responsive.png');
            background-size: auto 100%;
            background-position: 100% 50%;
            background-repeat: no-repeat;
        }
        & > a {
            display: block;
            color: $light-blue;
            font-size: 22px;
            margin-top: 56px;
        }
    }
    .get-training-section .section-subheader {
        margin-bottom: 20px;
        font-size: 29px;
        opacity: 0.9;
        color: $header-gray;
    }
    .get-training-section.learn-page {
        margin-bottom: 33px;
        .section-header {
            font-weight: 400;
            margin-top: 51px;
        }
        .section-subheader {
            margin-bottom: 15px;
        }
        .section-actions {
            margin-top: 54px;
            a:not(.btn) {
                color: $light-blue;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        .get-training-section {
            position: relative;
            min-height: 714px;
            .content-col {
                margin-left: -19px;
                max-width: 550px;
                &:before {
                    position: absolute;
                    width: 669px;
                    height: 521px;
                    right: 100%;
                    top: 57px;
                    margin-right: -40px;
                }
            }
            .section-subheader {
                margin-top: 75px;
            }
        }
        .learn-page:before {
            top: 171px;
            bottom: 22px;
        }
    }
    @media only screen and (max-width: 991px) {
        .get-training-section {
            padding-bottom: 20px;
            .content-col:before {
                display: block;
                margin: 20px auto;
                width: 500px;
                height: 385px;
            }
            .section-subheader,
            a {
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        .get-training-section .content-col:before {
            width: 300px;
            height: 231px;
        }
    }
    // Learn section
    .learn-improve-section .section-header {
        color: $header-gray;
        font-size: 30px;
        margin-top: 48px;
        .heading {
            font-weight: 300;
            margin-bottom: 16px;
        }
    }
    .learn-improve-section .section-content {
        margin-top: 52px;
        max-width: 410px;
        color: $blue-gray;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.35em;
        .section-subheader {
            color: #666;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;
            line-height: 1.1em;
        }
        .section-action {
            margin-top: 38px;
            display: block;
        }
    }
    .learn-improve-section .subsections {
        margin-top: 57px;
        padding-top: 41px;
        color: $blue-gray;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3em;
        position: relative;
        /*Top border*/
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #c0c1c1;
        }
        .container {
            max-width: 1024px;
        }
        .subsection-header {
            color: $header-gray;
            font-size: 30px;
            margin-bottom: 24px;
        }
        .info-col:not(:first-child) .subsection-header {
            text-align: center;
        }
        .link-row {
            text-align: center;
        }
    }
    .learn-improve-section.landing-annon-page {
        padding-bottom: 22px;
        .section-header {
            margin-top: 46px;
        }
    }
    @media only screen and (min-width: 992px) {
        .learn-improve-section .section-content {
            margin-left: 87px;
        }
        .learn-improve-section.landing-annon-page .section-header {
            margin-top: 55px;
        }
        .learn-improve-section.landing-annon-page .section-content {
            margin-left: 124px;
        }
        .subsections {
            margin-top: 52px;
            .btn {
                position: absolute;
                bottom: 0;
                margin-left: 75px;
                display: block;
                width: 118px;
                margin-left: 80px;
            }
            .info-col {
                min-height: 204px;
                padding-bottom: 54px;
                position: static;
                &:first-child .btn {
                    margin-left: 31px;
                }
                &:last-child .btn {
                    margin-left: 108px;
                }
            }
        }
    }
    @media only screen and (max-width: 991px) {
        .info-col {
            font-size: 16px;
            .subsection-header {
                text-align: center;
            }
            &:not(:first-child) {
                margin-top: 40px;
            }
            .link-row {
                margin-top: 10px;
            }
        }
    }
    // Not logged in: challenges section
    .challenges-section {
        background-color: #f0f0f0;
        padding-bottom: 40px;
        .section-header {
            color: $header-gray;
            font-weight: 300;
            font-size: 30px;
            margin-top: 62px;
            .heading {
                margin-bottom: 15px;
            }
        }
        .section-actions {
            text-align: center;
            &:not(.challenge-types) a {
                color: $light-blue;
            }
        }
    }
    .challenges-section.landing-annon-page {
        padding-top: 5px;
        .section-actions {
            margin-top: 28px;
            &:not(.challenge-types) a {
                margin-top: 10px;
            }
        }
        .challenges {
            margin-top: 33px;
        }
    }
    .challenge-types li,
    .challenge-types li + li:before {
        font-size: 18px;
        color: #2f3c42;
        opacity: 0.9;
    }
    .challenge-types li + li {
        margin: 0;
    }
    .challenge-types li + li:before {
        content: '|';
        padding: 0 10px;
    }
    .challenge-types a {
        color: inherit;
    }
    .challenge-types .highlight {
        color: $light-blue;
    }
    .challenges {
        margin-top: 40px;
    }
    .challenge {
        max-width: 256px;
        margin: 0 auto;
        background-color: $white;
        margin-bottom: 37px;
    }
    .challenge-details {
        padding: 20px;
    }
    .challenge-image {
        width: 100%;
    }
    .challenge-type {
        text-align: center;
        background-color: #8dc642;
        line-height: 24px;
        text-transform: uppercase;
        color: rgba(247, 247, 247, 0.8);
        font-size: 12px;
    }
    .challenge-header {
        opacity: 0.9;
        color: $challenge-black;
        font-size: 20px;
        margin: 3px 0 0 4px;
    }
    .challenge-header a {
        color: inherit;
    }
    .challenge-data {
        opacity: 0.7;
        color: $challenge-black;
        font-size: 14px;
        line-height: 20px;
        margin: 6px 0 0 3px;
        line-height: 1.2em;
    }
    .challenge-data .challenge-field {
        font-weight: 700;
    }
    .challenge-prize {
        opacity: 0.9;
        color: $challenge-black;
        font-size: 36px;
        margin-top: 12px;
    }
    .challenge-deadline {
        opacity: 0.8;
        color: $challenge-black;
        font-size: 14px;
        font-weight: 300;
        margin: 3px 0 0 4px;
    }
    .challenge-stat {
        margin-top: 37px;
        padding-left: 19px;
        & + .challenge-stat {
            padding-left: 29px;
            border-left: 1px solid rgba(60, 61, 61, 0.3);
        }
    }
    .stats-type {
        opacity: 0.8;
        color: $challenge-black;
        font-size: 10px;
        font-weight: 600;
    }
    .stats-value {
        opacity: 0.9;
        color: #1e61b3;
        font-size: 30px;
        line-height: 1em;
        margin-top: 9px;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 11px;
        }
        a {
            color: inherit;
        }
    }
    .challenge-registrants .stats-value:before {
        background-image: url('../images/sprite.png');
        background-position: -102px -175px;
        background-repeat: no-repeat;
        width: 34px;
        height: 29px;
    }
    .challenge-submissions .stats-value:before {
        background-image: url('../images/sprite.png');
        background-position: -66px -175px;
        background-repeat: no-repeat;
        width: 34px;
        height: 30px;
    }
    // challenge listing
    .carousel-section {
        position: relative;
        .carousel-indicators {
            bottom: 21px;
            li, li.active {
                width: 13px;
                height: 13px;
                margin-left: 15px;
                vertical-align: top;
                margin-top: 0;
                margin-bottom: 0;
            }
            li {
                border: none;
                background-color: #dfe3eb;
            }
            .active {
                background-color: #7ea0c3;
            }
        }
        .carousel-control {
            display: none;
        }
        .slide {
            min-height: 757px;
            text-align: left;
            color: #fff;
            cursor: default;
            .container {
                position: relative;
            }
            .slide-title {
                opacity: 0.6;
                letter-spacing: 2px;
                padding-top: 64px;
            }
            .ico {
                display: inline-block;
                height: 231px;
                width: 253px;
                position: absolute;
                right: -50px;
                top: 70px;
            }
            .ico.swift {
                background: url('../images/ch-swift.png') 0 0 no-repeat;
                background-size: 100%;
            }
            .summary {
                font-size: 18px;
                line-height: 27px;
                width: 460px;
                margin-top: 28px;
                word-spacing: 1px;
            }
            /* contestDetails */
            
            .contestDetails {
                margin-top: 40px;
                .rw {
                    font-size: 19px;
                    opacity: 0.7;
                    min-height: 26px;
                    line-height: 26px;
                    .lbl {
                        font-weight: bold;
                        display: inline-block;
                    }
                    .val {
                        display: inline-block;
                    }
                    .ca {
                        @include myriad-pro-sb();
                        font-size: 13px;
                    }
                    .fr .vl {
                        background: url(../images/ico-usr.png) 0 0 no-repeat;
                        padding-left: 58px;
                        height: 42px;
                        line-height: 42px;
                        color: #eff4f9;
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 39px;
                        margin-top: 6px;
                    }
                    .fs .vl {
                        background: url(../images/ico-sub.png) 0 0 no-repeat;
                        padding-left: 64px;
                        height: 42px;
                        line-height: 42px;
                        color: #eff4f9;
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 39px;
                        margin: 6px 0 0 11px;
                    }
                }
                .rw.time {
                    opacity: 0.8;
                    @include myriad-pro-light();
                    line-height: 18px;
                }
                .actns {
                    margin-top: 48px;
                }
                .prizeRw {
                    opacity: 0.9;
                    .v {
                        font-size: 49px;
                        line-height: 52px;
                        margin-top: 21px;
                    }
                }
                .rw.reg {
                    overflow: hidden;
                    width: 290px;
                    margin-top: 21px;
                }
                .rw.reg > div {
                    float: left;
                    width: 50%;
                    height: 74px;
                }
                .rw > .lt {
                    border-right: 1px solid #116fa1;
                }
                .rw > .rt {
                    padding-left: 30px;
                }
                .actns {
                    a {
                        vertical-align: top;
                    }
                    .btnReg {
                        height: 35px;
                        line-height: 35px;
                        width: 113px;
                        font-size: 16px;
                    }
                    .lnkLiked {
                        height: 35px;
                        width: 35px;
                        background: #031625 url(../images/ico-heart.png) 50% 50% no-repeat;
                        display: inline-block;
                        border-radius: 3px;
                        margin: 0 30px 0 16px;
                    }
                    .lnk,
                    .lnk:hover {
                        line-height: 35px;
                        font-size: 22px;
                        color: #fff;
                    }
                }
            }
            .container {
                max-width: 1020px;
            }
        }
        .section-header {
            color: #fff;
            font-size: 73px;
            font-weight: 300;
            text-align: left;
            margin: 0;
            padding: 0;
            height: 94px;
            line-height: 102px;
            img {
                display: block;
            }
            strong {
                display: block;
                color: #333e48;
                font-size: 67px;
                margin-top: 13px;
            }
        }
        .info {
            color: #3a444c;
            font-size: 24px;
            margin-top: 31px;
            line-height: 1.5em;
        }
    }
    .btn-view-profile {
        margin-top: 34px;
        padding: 0 34px;
    }
    .developer-badges {
        margin-top: 16px;
        .participant-badge {
            background-image: url('../images/sprite.png');
            background-position: -68px -83px;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
        }
        .challenger-badge {
            background-image: url('../images/sprite.png');
            background-position: -255px -36px;
            background-repeat: no-repeat;
            width: 25px;
            height: 34px;
        }
        .education-badge {
            background-image: url('../images/sprite.png');
            background-position: -68px -120px;
            background-repeat: no-repeat;
            width: 34px;
            height: 34px;
        }
        .performer-badge {
            background-image: url('../images/sprite.png');
            background-position: -255px 0px;
            background-repeat: no-repeat;
            width: 29px;
            height: 34px;
        }
        li {
            display: inline-block;
            & + li {
                margin-left: 19px;
            }
        }
    }
    .developer-slide-1 {
        background-image: url('../images/bg-banner.jpg');
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
    .developer-slide-2 {
        background-image: url('../images/bg-banner.jpg');
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
        .section-header img {
            margin-bottom: 55px;
        }
        .info {
            margin-top: 20px;
        }
        .btn {
            margin-top: 32px;
            width: 160px;
        }
    }
}

/* mobile screen layout */
@media (max-width: 767px){
  .footerAlt .footer-mail{
    padding: 0;
  }
  .footerAlt .footer-mail .rwEmail{
    width: 100%;
    float: none;
    margin: 10px 0;
  }
  .footerAlt .footer-mail .txtbox{
    margin: 0;
    float: none;
  }
  .footerAlt .footer-mail .rw{
    float: none;
  }
  .footerAlt .footer-mail .ok-btn{
    margin: 0;
    width: 100%;
    float: none;
  }
  .socialRw{
    text-align: center;
    margin: 0;
  }
  .socialRw a{
    float: none;
  }
  .socialRw .twit-icon, .socialRw .fb-icon{
    display: inline-block;    
    margin: 20px 9px 0;
  }
  .footerAlt .poweredBy{
    text-align: center;
    padding-bottom: 20px;
  }

  /* views */
  .challengeListing .section-header .browse .viewType{
    display: none;
  }
  .challengeListing .challenges-section.landing-annon-page .challenges{
    display: block !important;
  }
}



/* tablet */

@media (max-width: 991px) {
    .challengeListing .section-header .browse .viewType {
        display: block;
        position: relative;
        height: 28px;
    }
    .challengeListing .carousel-section .slide {
        .ico{
            height: 140px;
            width: 140px;
            right: 0;
        }


    }
}
/* mobile screen layout */

@media (max-width: 767px) {
    /* views */
    
    .challengeListing .section-header .browse .viewType {
        display: block;
        position: relative;
        height: 28px;
    }
    .challengeListing .challenges-section.landing-annon-page .challenges {
        display: block !important;
    }

    .challengeListing .carousel-section .slide {
        min-height: 400px;
        padding-bottom: 20px;
        .ico{
            height: 100px;
            width: 100px;
            top: 20px;
        }

        .summary{
            width: auto;
            font-size: 16px;
            line-height: 18px;
        }
        .contestDetails{
            margin-top: 20px;

            .rw{
                font-size: 16px;
                line-height: 18px;
            }
            .actns{
                margin-top: 20px;
                padding-bottom: 30px;

                .lnk, .lnk:hover{
                    font-size: 18px;
                    margin-left: 4px;   
                }
            }
        }
        .slide-title {
            opacity: 0.6;
            letter-spacing: 2px;
            padding-top: 15px;
        }
        .learn{
            margin-top: 15px;
            font-size: 16px;
            line-height: 18px;
        }
        .actn{
            margin-top: 41px;
            padding-bottom: 30px;
        }
    }
    /* masthead section */
    .challengeListing .carousel-section .section-header{
        font-size: 40px;
        line-height: 42px;
        height: 42px;
    }
    .challengeListing .carousel-section .slide .summary{

        .desc{
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 18px;
        }

        .cn{
            font-size: 14px;
            line-height: 16px;       
        }
    }
}
