@import 'partials/combined';

.challenges {
  // Common carousel styles + "All challenges" carousel
  .carousel-section {
    position: relative;
    margin-top: 48px;

    .carousel-indicators {
      bottom: 21px;
      li, li.active {
        width: 13px;
        height: 13px;
        margin-left: 20px;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0;
      }
      li {
        border: none;
        background-color: #dfe3eb;
      }
      .active {
        background-color: #7ea0c3;
      }
    }
    .carousel-control {
      display: none;
    }
    .slide {
      text-align: left;
      color: $white;
      cursor: default;
      @media (max-width: 767px) {
        min-height: 400px;
        padding-bottom: 20px;
      }

      .container {
        position: relative;
        max-width: 1020px;
      }
      .slide-title {
        opacity: 0.6;
        letter-spacing: 2px;
        padding-top: 64px;
        @media (max-width: 767px) {
          padding-top: 15px;
        }
      }
      .section-header {
        color: $white;
        text-align: left;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        padding-right: 80px;
        line-height: 67px;
        @media (max-width: 767px) {
          font-size: 40px;
          line-height: 42px;
        }
        @media only screen and (max-width: 560px) {
          font-size: 20px;
          line-height: 27px;
        }
      }
      .ico {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 90px;
        @media (max-width: 991px) {
          height: 140px;
          width: 140px;
          right: 20;
        }
        @media (max-width: 767px) {
          height: 100px;
          width: 100px;
          top: 40px;
        }
      }
      .ico.peer {
        background: url('../images/svg/Show-Your-Skills-06.svg');
        width: 68px;
        height: 94px;
      }
      .ico.design {
        background: url('../images/svg/design-generic.svg');
        height: 70px;
        width: 68px;
      }
      .ico.dev {
        background: url('../images/svg/development-generic.svg');
        height: 70px;
        width: 68px;
      }
      .contestDetails {
        margin-top: 40px;
        @media (max-width: 767px) {
          margin-top: 20px;
        }

        .rw {
          font-size: 18px;
          min-height: 26px;
          line-height: 26px;
          @media (max-width: 767px) {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 10px;
          }

          .lbl {
            @include myriad-pro-sb;
            color: rgba(255, 255, 255, 0.9);
            display: inline-block;
          }
          .val {
            @include myriad-pro-light;
            color: rgba(255, 255, 255, 0.9);
            display: inline-block;
          }
          .ca {
            @include myriad-pro-sb;
            font-size: 13px;
          }
          .fr .vl {
            background-image: url(../images/ico-usr.png);

            @include retina {
              background-image: -webkit-image-set(
                url(../images/ico-usr.png) 1x,
                url(../images/ico-usr@2x.png) 2x
              );
              background-image: image-set(
                url(../images/ico-usr.png) 1x,
                url(../images/ico-usr@2x.png) 2x
              );
            }

            background-position:  0 0;
            background-repeat: no-repeat;
            padding-left: 58px;
            height: 42px;
            line-height: 42px;
            color: rgba(255, 255, 255, 0.9);
            font-size: 39px;
            margin-top: 6px;
          }
          .fs .vl {
            background: url(../images/ico-sub.png) 0 0 no-repeat;

            @include retina {
              background-image: -webkit-image-set(
                url(../images/ico-sub.png) 1x,
                url(../images/../images/ico-sub@2x.png) 2x
              );
              background-image: image-set(
                url(../images/ico-sub.png) 1x,
                url(../images/../images/ico-sub@2x.png) 2x
              );
            }

            padding-left: 64px;
            height: 42px;
            line-height: 42px;
            color: rgba(255, 255, 255, 0.9);
            font-size: 39px;
            margin: 6px 0 0 11px;
          }
        }
        .rw.time {
          opacity: 0.8;
          @include myriad-pro-light;
          line-height: 18px;
        }
        .prizeRw {
          opacity: 0.9;

          .v {
            line-height: 52px;
            margin-top: 21px;
            @media only screen and (max-width: 560px) {
              font-size: 42px;
            }
          }
        }
        .rw.challenge-peer {
          margin-top: 10px;
          margin-left: 0px;

          > div {
            display: block;
          }
          .timeEnd {
            margin-top: 3px;
          }
          .time {
            font-size: 18px;
          }
        }
        .rw.reg {
          overflow: hidden;
          width: 290px;
          margin-top: 21px;
        }
        .rw.reg > div {
          float: left;
          width: 50%;
          height: 74px;
        }
        .rw > .lt {
          border-right: 1px solid #116fa1;
        }
        .rw > .rt {
          padding-left: 30px;
        }
        .actns {
          margin-top: 48px;
          padding-bottom: 60px;
          @media (max-width: 767px) {
            margin-top: 30px;
            padding-bottom: 45px;
          }

          a {
            vertical-align: top;
          }
          .btnReg {
            height: 35px;
            line-height: 35px;
            width: 113px;
            font-size: 16px;
            margin-right: 30px;
          }
        }
      }
    }


    // Peer Carousel
    .badgeSlide.slide {
      @media (max-width: 767px) {
        min-height: 355px;
        padding-bottom: 25px;
      }

      .bdgCon {
        margin-left: 240px;
        overflow: hidden;
        @media (max-width: 991px) {
          margin-left: 180px;
        }
        @media (max-width: 767px) {
          margin: 0;
        }

        .section-header {
          line-height: 24px;
          &.bigger {
            font-size: 48px;
            margin-top: 45px;
          }
        }
      }
      .badgeWarp {
        float: left;
        padding-top: 45px;
        max-width: 240px;
        @media (max-width: 991px) {
          float: left;
          padding-top: 94px;
          max-width: 180x;
        }
        @media (max-width: 767px) {
          float: none;
          padding-top: 10px;
          max-width: 3000px;
          display: block;
        }

        .bdg {
          display: inline-block;
          background: url(../images/svg/Show-Your-Skills-06.svg) 0 0  no-repeat;
          width: 219px;
          height: 255px;
          @media (max-width: 991px) {
            display: inline-block;
            background-size: 100%;
            width: 150px;
            height: 190px;
          }
          @media (max-width: 767px) {
            position: absolute;
            top: 25px;
            left: 245px;
            width: 70px;
            height: 80px;
          }
        }
      }

      .summary {
        width: auto;
        color: #f9f9f9;
        font-size: 18px;
        line-height: 27px;
        margin-top: 28px;
        word-spacing: 1px;

        .desc {
          margin-bottom: 53px;
          @media (max-width: 767px) {
            margin-bottom: 20px;
          }
        }
        .cn {
          color: #f9f9f9;
          font-size: 18px;
          line-height: 24px;
          @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
        ul.lst {
          margin-top: 5px;

          li {
            display: block;
            float: none;
            padding-left: 13px;
          }
          li:before {
            content:'-';
            margin-left: -13px;
            margin-right: 6px;
          }
        }

      }
      .learn {
        margin-top: 43px;
        margin-bottom: 45px;
        @include myriad-pro-light;
        color: #fcfcfc;
        font-size: 20px;
        @media (max-width: 767px) {
          margin-top: 15px;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 18px;
        }

        .lnk {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
  .developer-slide-1 {
    background-image: url('../images/bg-banner.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  .developer-slide-2 {
    background-image: url('../images/bg-badge.jpg');
    @include retina {
        background-image: url('../images/bg-badge@2x.png');
      }
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  .developer-slide-3 {
    background-image: url('../images/orange_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
  }
  .section-header {
    max-width: 930px;
    margin: 0 auto;
    margin-top: 69px;
    padding: 0 15px;
    text-align: center;
    @include myriad-pro-light;
    line-height: 1.3;
    opacity: 0.9;
    color: #242f2d;

    .heading {
      color: $header-gray;
      font-size: 48px;
      margin-bottom: 20px;
    }
    .browse {
      position: relative;

      .viewType {
        position: absolute;
        right: 0;
        top: 9px;
        @media (max-width: 991px) {
          display: block;
          position: relative;
          height: 28px;
        }

        .gridView,
        .listView {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url(../images/ico-view.png);
          @include retina { background-image: url(../images/ico-view@2x.png); }
          background-position:  0 0;
          background-repeat: no-repeat;
          background-size: 100%;
          margin-left: 11px;
          cursor: pointer;
        }
        .gridView{
          background-position:  0 0;
        }
        .listView{
          background-position:  0 -50px;
        }
      }
    }
  }
  .section-header.fluid {
    width: 100%;
    max-width: 3000px;
  }
  .challenges-section {
    background-color: #f0f0f0;
    padding-bottom: 40px;
    text-align: center;

    & > section, & > ul {
      text-align: initial;
    }

    .badge-info {
      width: 85%;
      margin: 40px auto 0;
      @include myriad-pro-light;
      color: #383D43;

      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 1.2;
        @media only screen and (max-width: 767px) {
          font-size: 17px;
        }
      }
    }
    .section-header {
      color: $header-gray;
      font-weight: 300;
      margin-top: 62px;

      .heading {
        margin-bottom: 15px;
        @media only screen and (max-width: 450px) {
          font-size: 32px;
        }
      }
      .browse {
        font-size: 18px;
        @media only screen and (max-width: 450px) {
          font-size: 21px;
        }
      }
    }


  }
  .challengeList {
    margin-top: 62px;

    li {
      display: block;
      float: none;

      .col1 {
        width: 15.5%;
      }
      .col2 {
        width: 39.5%;
        padding-left: 10px;
      }
      .col3 {
        width: 18.5%;
      }
      .col4 {
        width: 13.5%;
      }
      .col5 {
        width: 13%;
      }
    }

    li.header {
      font-size: 11px;
      @include myriad-pro-sb;
      color: #030303;
      opacity: 0.8;
      text-align: center;
      line-height: 14px;
      height: 32px;
      padding: 0;
    }
    li.liRw {
      border-radius: 7px;
      box-shadow: 0 1px 4px rgba(58, 58, 58, 0.3);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
      /* Chrome10+,Safari5.1+ */

      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
      /* IE10+ */

      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(135, 135, 135, 0.05) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#0d878787', GradientType=0);
      margin-bottom: 10px;
      padding: 0;
    }
    .chrw {
      border-radius: 7px;
      padding: 14px 0 16px 0;
      background: $white;
      height: 119px;
    }
    .imgWrap {
      width: 15.5%;

      a {
        display: block;
        max-width: 166px;
        height: 119px;
        overflow: hidden;
        margin-top: -14px;
        border-radius: 7px 0 0 7px;

        .challenge-image {
          height: 100%;
          width: 100%;
        }
      }
    }
    .chge {
      font-size: 16px;
      width: 39.5%;
      border-right: 1px solid #c3c3c3;
      text-align: center;
      height: 89px;
      padding: 0 2px;

      .inner {
        max-width: 100%;
        overflow: hidden;
        padding-top: 9px;
        text-align: left;
      }
      .chTitle {
        color: #030303;
        width: 100%;
        margin-bottom: 9px;

        a {
          opacity: 0.9;
          font-size: 22px;
          color: inherit;
          display: block;
          @include ellipsis;
          @media only screen and (max-width: 1075px) {
            font-size: 18px;
          }
        }
      }
      .rw {
        opacity: 0.7;
        line-height: 22px;
        @include ellipsis;
        @media only screen and (max-width: 1075px) {
          font-size: 14px;
        }

        .lbl {
          @include myriad-pro-sb;
        }
        .val {
        }
      }
    }
    .pz {
      text-align: center;
      width: 18.5%;
      border-right: 1px solid #C3C3C3;

      .inner {
        max-width: 100%;
        overflow: hidden;
        padding-top: 6px;
        display: inline-block;
        text-align: left;
        height: 89px;
      }
      .prize {
        opacity: 0.9;
        color: #030304;
        font-size: 36px;
        margin-top: 14px;
        margin-bottom: 6px;
      }
      .timeHeader {
        font-size: 17px;
        margin-bottom: 3px;
        @media only screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .timeEnd {
        margin-top: 8px;
      }
      .time {
        @include myriad-pro-light;
        opacity: 0.8;
        color: #030304;
        font-size: 18px;
        @media only screen and (max-width: 1024px) {
          font-size: 13px;
        }
      }
    }
    .regs {
      text-align: center;
      width: 13.5%;
      border-right: 1px solid #C3C3C3;

      .inner {
        max-width: 100%;
        overflow: hidden;
        padding-top: 15px;
        display: inline-block;
        text-align: left;
        height: 89px;
      }
      .reg {
        a {
          display: inline-block;
          opacity: 0.9;
          color: #1E61B3;
          font-size: 30px;
          height: 30px;
          line-height: 35px;
          margin-top: 9px;
          @media only screen and (max-width: 1000px) {
            font-size: 22px;
          }
        }
        a:before{
          content: '';
          display: inline-block;
          background-image: url('../images/sprite.png');
          background-position: -102px -175px;
          background-repeat: no-repeat;
          width: 35px;
          height: 29px;
          margin-right: 18px;
          vertical-align: top;
          @media only screen and (max-width: 1000px) {
            margin-right: 8px;
          }
        }
      }
    }
    .subs {
      text-align: center;
      width: 13%;

      .inner {
        max-width: 100%;
        overflow: hidden;
        padding-top: 15px;
        display: inline-block;
        text-align: left;
        height: 89px;
      }
      .sub {
        a {
          display: inline-block;
          opacity: 0.9;
          color: #1E61B3;
          font-size: 30px;
          height: 30px;
          line-height: 35px;
          margin-top: 9px;
          @media only screen and (max-width: 1000px) {
            font-size: 22px;
          }
        }
        a:before{
          content: '';
          background-image: url('../images/sprite.png');
          background-position: -66px -175px;
          background-repeat: no-repeat;
          width: 35px;
          height: 30px;
          margin-right: 17px;
          vertical-align: top;
          display: inline-block;
          @media only screen and (max-width: 1000px) {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .challengesGrid {
    display: inline-block;
    max-width: 1286px;
    margin: 40px auto 0;
    padding-left: 25px;
    @media only screen and (max-width: 1330px) {
      max-width: 971px;
    }
    @media only screen and (max-width: 970px) {
      max-width: 656px;
    }
    @media (max-width: 767px) {
      display: inline-block !important;
    }
    @media only screen and (max-width: 655px) {
      max-width: 290px;
      padding-left: 0;
    }

    li {
      display: inline-block;
      margin-right: 25px;
      @media only screen and (max-width: 655px) {
        margin-right: 0;
      }
    }

    .challenge {
      width: 290px;
      display: inline-block;
      height: 480px;
      margin: 0 auto;
      background-color: $white;
      margin-bottom: 37px;

      .challenge-type {
        text-align: center;
        background-color: #8dc642;
        line-height: 24px;
        text-transform: uppercase;
        color: rgba(247, 247, 247, 0.8);
        font-size: 12px;
      }
      .challenge-image {
        width: 190px;
        display: block;
        margin: 0 auto;
        padding-top: 5px;
      }
      .challenge-details {
        padding: 20px;
        padding-top: 10px;

        .challenge-header {
          opacity: 0.9;
          color: $challenge-black;
          font-size: 20px;
          margin: 3px 0 0 4px;
          @include ellipsis;
          @media only screen and (max-width: 415px) {
            font-size: 16px;
          }

          a {
            color: inherit;
          }
        }
        .challenge-data {
          opacity: 0.7;
          color: $challenge-black;
          font-size: 14px;
          line-height: 20px;
          margin: 6px 0 0 3px;
          line-height: 1.2;

          p {
            @include ellipsis;
          }
          .challenge-field {
            @include myriad-pro-sb;
          }
        }
        .challenge-prize {
          opacity: 0.9;
          color: $challenge-black;
          font-size: 36px;
          margin-top: 15px;
        }
        .challenge-deadline {
          opacity: 0.8;
          color: $challenge-black;
          @include myriad-pro-light;
          font-size: 18px;
          margin: 3px 0 0 4px;
        }
        .challenge-peer {
          margin-left: 3px;
          margin-top: 10px;
          margin-bottom: -20px;

          .timeHeader {
            font-size: 17px;
            margin-bottom: 3px;
          }
          .timeEnd {
            margin-top: 3px;
          }
          .time {
            @include myriad-pro-light;
            opacity: 0.8;
            color: #030304;
            font-size: 18px;
          }
        }
        .challenge-stat {
          margin-top: 37px;
          padding-left: 19px;
          padding-right: 0;

          & + .challenge-stat {
            padding-left: 20px;
            border-left: 1px solid rgba(60, 61, 61, 0.3);
          }
          .stats-type {
            opacity: 0.8;
            color: $challenge-black;
            font-size: 10px;
            font-weight: 600;
          }
          .stats-value {
            opacity: 0.9;
            color: #1e61b3;
            font-size: 30px;
            line-height: 1;
            margin-top: 9px;
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              margin-right: 11px;
            }
            a {
              color: inherit;
            }
          }
        }
        .challenge-registrants .stats-value:before {
          background-image: url('../images/sprite.png');
          background-position: -102px -175px;
          background-repeat: no-repeat;
          width: 34px;
          height: 29px;
        }
        .challenge-submissions .stats-value:before {
          background-image: url('../images/sprite.png');
          background-position: -66px -175px;
          background-repeat: no-repeat;
          width: 34px;
          height: 30px;
        }
      }
    }
  }
  ul.section-actions {
    text-align: center;
    font-size: 22px;
    margin-top: 28px;

    li {
      color: $light-blue;
    }
    a {
      color: inherit;
      cursor: pointer;
    }
  }

  .learn-section {
    background-color: #eee;
    color: #333;
  }

  .t-shirt-section {
    background-image: url('../images/bg-badge.jpg');
    @include retina {
        background-image: url('../images/bg-badge@2x.png');
      }
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
    padding: 30px 0;

    .shirt {
      width: 30%;
    }
    .main {
      width: 60%;
      max-width: 780px;
      font-family: MyriadPro-Light,Calibri,sans-serif;
      color: #fff;
      padding-top: 20px;
      padding-left: 20px;

      .desc {
        font-size: 18px;
        margin-top: 20px;
        line-height: 1.3;
        font-weight: 500;
      }
    }
  }
}




.swiftoberfest, .swiftoberfest-leaderboard {
  .top-banner,
  .prize-section {
    color: $white;
    background-image: url('../images/orange_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    @media only screen and (min-width: 992px) {
      padding: 29px 102px 98px 86px;
    }
    @media only screen and (max-width: 991px) {
      padding: 29px 0 20px 0;
    }

    .container {
      position: relative;
      padding-top: 132px;
      @media only screen and (max-width: 640px) {
        padding-top: 45px;
      }

      .banner-header {
        &.limit {
          max-width: 72%;
        }
        @include myriad-pro-light;
        line-height: 1.6;
        @media only screen and (max-width: 640px) {
          line-height: 1.1;
        }

        strong {
          font-size: 67px;
          display: block;
          margin-top: 12px;
          @media only screen and (max-width: 1030px) {
            font-size: 39px;
            margin-top: 0;
          }
          @media only screen and (max-width: 640px) {
            font-size: 30px;
            margin-top: 5px;
          }
        }
      }
      .banner-text {
        @include myriad-pro-light;
        font-size: 18px;
        margin-top: 27px;
        line-height: 1.3;
        max-width: 640px;
        @media only screen and (max-width: 640px) {
          font-size: 16px;
          max-width: 450px;
        }
      }
      .banner-actions {
        margin-top: 60px;
        line-height: 30px;
        @media only screen and (max-width: 640px) {
          margin-left: 0;
          margin-top: 35px;
        }

        li {
          display: inline-block;
          vertical-align: middle;

          & + li {
            margin-left: 40px;
          }
        }
        .learn-link {
          @include myriad-pro-light;
          line-height: 1;
          font-size: 16px;
        }
        a {
          color: $white;
          height: 34px;
          line-height: 34px;
        }
      }
    }
  }

  .top-banner {
    .container {
      @media only screen and (min-width: 992px) {
        background-image: url('../images/topcoder-swift-tree.png');
        background-repeat: no-repeat;
        background-position: right 24px center;
        background-size: 237px 300px;
      }
    }
  }

  .prize-section {
    color: $white;
    background: url('../images/learn-background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    @media only screen and (min-width: 992px) {
      padding: 29px 102px 98px 86px;
    }
    @media only screen and (max-width: 991px) {
      padding: 29px 0 20px 0;
    }
    .container {
      @media only screen and (min-width: 1350px) {
        background: none;
      }
      .banner-header {
        margin-top: 27px;
      }
      .banner-text {
        margin-top: 0;
      }
    }
  }

  .section-actions {
    margin-top: 42px;

    li {
      display: inline-block;

      & + li {
        margin-left: 40px;
      }
    }
  }

  .section-actions li,
  .section-action {
    color: $light-blue;
    font-size: 18px;
    @media only screen and (max-width: 415px) {
      font-size: 18px;
    }
  }

  .section-header {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    opacity: 0.9;
    color: #242f2d;
    margin-top: 69px;
    line-height: 1.3;
    @media only screen and (max-width: 415px) {
      margin-top: 59px;
    }

    .heading {
      color: $header-gray;
      font-size: 48px;
      margin-bottom: 20px;
      @media only screen and (max-width: 415px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  .get-training-section,
  .know-standings {
    margin-bottom: 33px;
    @media only screen and (min-width: 992px) {
      position: relative;
    }
    @media only screen and (max-width: 991px) {
      padding-bottom: 20px;
    }
    @media only screen and (max-width: 415px) {
      margin-bottom: 18px;
    }

    .section-header {
      color: $header-gray;
      @include myriad-pro-light;
      opacity: 1;
      margin-top: 51px;
      @media only screen and (max-width: 415px) {
        margin-top: 25px;
        font-size: 30px;
      }
    }
    .content-col {
      color: $blue-gray;
      font-size: 18px;
      line-height: 26px;
      @media only screen and (min-width: 992px) {
        margin-left: -19px;
        max-width: 550px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 15px;
        line-height: 23px;
      }

      &:before {
        content: '';
        background: url('../images/responsive.png');
        @include retina {
          background: url('../images/responsive@2x.png');
          background-size: cover;
        }
        background-size: auto 100%;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        @media only screen and (min-width: 992px) {
          position: absolute;
          width: 669px;
          height: 521px;
          right: 100%;
          top: 57px;
        }
        @media only screen and (max-width: 991px) {
          display: block;
          margin: 20px auto;
          width: 500px;
          height: 385px;
        }
        @media only screen and (max-width: 640px) {
          height: 231px;
          width: 314px;
        }
      }
      & > a {
        display: block;
        color: $light-blue;
        font-size: 22px;
        margin-top: 56px;
      }
      .content-question {
        color: $header-gray;
        @include myriad-pro-light;
        opacity: 1;
        margin-top: 51px;
        line-height: 1.2;
        @media only screen and (max-width: 415px) {
          margin-top: 25px;
          font-size: 30px;
        }
      }
      .content-answer {
        margin-top: 8px;
      }
    }
    .section-actions {
      margin-top: 54px;
      @media only screen and (max-width: 415px) {
        margin-top: 32px;
      }

      a:not(.btn) {
        color: $light-blue;
        @media only screen and (max-width: 415px) {
          font-size: 16px;
        }
      }
      a {
        @media only screen and (max-width: 991px) {
          text-align: center;
        }
      }
      .btn {
        @media only screen and (max-width: 415px) {
          padding: 0 8px;
          font-size: 13px;
          line-height: 29px;
          height: 29px;
        }
      }
    }
  }

  .know-standings {
    margin-bottom: 0;
    padding-top: 40px;
    background-image: url('../images/bg-badge.jpg');
    @include retina {
      background-image: url('../images/bg-badge@2x.png');
    }
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;

    > section {
      padding-bottom: 75px;
    }

    .section-header {
      color: $white;
      text-align: left;
      padding: 0 0px;
      @media only screen and (max-width: 415px) {
        font-size: 30px;
      }
    }
    .leaderboard-container {
      position: relative;
    }
    .content-col {
      color: #f9f9f9;
      &:before {
        content: '';
        background: url('../images/coming-soon.png');
        background-size: 325px auto;
        background-position: 37px 0;
        background-repeat: no-repeat;
        @media only screen and (min-width: 992px) {
          position: absolute;
          width: 494px;
          height: 524px;
          right: 100%;
          top: 57px;
        }
        @media only screen and (max-width: 991px) {
          width: 494px;
          height: 524px;
          background-size: auto 100%;
          background-position: 100% 50%;
        }
        @media only screen and (max-width: 640px) {
          height: 245px;
          width: 314px;
          background-size: 230px auto;
          background-position: 42px 0;
        }
      }
      &.no-image {
        &:before {
          background: none;
          width: 0!important;
          height: 0!important;
        }
      }
      &.leaderboard-table {
        @media only screen and (min-width: 992px) {
          position: absolute;
          top: -623px;
          left: 0;
        }
      }
      .leaderboard-months {
        border: 1px solid $white;
        font-size: 24px;
        text-align: center;
        padding: 5px;
        &:hover,
        &.active {
          background: $white;
          color: $light-blue;
          cursor: pointer;
        }
      }
      p {
        margin-top: 24px;
      }
      &.ios-ready-badge {
        &:before {
          background: url('../images/svg/SYS-IOS-Swift-Ready-06.svg');
          background-repeat: no-repeat;
          background-size: 220px auto;
          background-position: 65px 0;
          @media only screen and (max-width: 991px) {
            width: 494px;
            height: 524px;
            background-size: 421px auto;
            background-position: 36px 0;
          }
          @media only screen and (max-width: 640px) {
            height: 300px;
            width: 314px;
            background-size: 260px auto;
            background-position: 27px 0;
          }
        }
      }
    }
    .section-actions {
      a:not(.btn) {
        color: $white;
      }
    }
    .row.leaderboard-top {
      margin-top: 20px;
    }
    .leaderboard-container {
      .leaderboard-table {
        position: relative;
      }
    }
  }

  .faq {
    margin-bottom: 30px;
    .heading {
      margin-top: 30px;
      font-size: 22px;
      color: $light-gray;
      margin-bottom: 10px;
    }
    p {
      font-family: MyriadPro-Light,Calibri,sans-serif;
      color: $light-gray;
      font-size:18px;
      line-height: 1.4;
      margin-top: 20px;
    }
    .faqItem {
      margin-top: 30px;
      display: block;
      .faqContent {
        transition: background 0.5s ease;
        display: block;
        background-color: #f8f8f8;
        border: 1px transparent solid;
        border-radius: 8px;
      }
      .faqTitleBox {
        display: block;
        height: 320px;
        padding: 20px;
        position: relative;
      }
      .faqTitle {
        font-family: 'Myriad-Apple-Text',arial;
        color: #2181ae;
        font-size: 38px;
      }
      .faqPlus {
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/faq-plus.png) no-repeat;
        position: absolute;
        bottom: 30px;
        right: 30px;
      }
      .faqExcerptBox {
        height: 320px;
        padding: 20px;
        position: relative;
        display: none;
      }
      .faqExcerpt {
        color: $white;
        font-family: 'Myriad-Apple-Text',arial;
        font-size: 22px;
        line-height: 32px;
        display: block;
        height: 230px;
        overflow: hidden;
      }
      .readMore {
        color: $white;
        display: block;
        font-size: 18px;
        position: absolute;
        bottom: 15px;
        left: 20px;
      }
      &:hover {
        text-decoration: none;
        .faqContent {
          background-color: #2181ae;
          border: 1px transparent solid;
          border-radius: 8px;
        }
        .faqTitleBox {
          display: none;
        }
        .faqPlus {
          background: url(../images/faq-plus-hover.png) no-repeat;
        }
        .faqExcerptBox {
          display: block;
        }
      }
    }
    .faqMobile {
      padding: 50px;
      .faqMobileItem {
        padding: 20px 0px;
        border-bottom: 1px $bootstrap-well solid;
        &:first-child {
          border-top: 1px $bootstrap-well solid;
        }
        .faqMobileTitle {
          display: block;
          font-family: 'Myriad-Apple-Text',arial;
          font-size: 24px;
          color: #2181ae;
          position: relative;
          padding-right: 30px;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
          span {
            display: block;
            width: 24px;
            height: 24px;
            background: url(../images/faq-plus.png) no-repeat;
            position: absolute;
            top: 20px;
            right: 0px;
          }
          &.expand {
            span {
              background: url(../images/faq-minus.png) no-repeat;
            }
          }
        }
        .faqMobileContent {
          padding: 20px 0px;
          font-size: 16px;
          line-height: 1.42;
        }
      }
    }
  }
}

.swiftoberfest-leaderboard {
  margin-top: 30px;
  margin-bottom: 0;
}

.faq {
  .inner-wrapper {
    margin: 0px auto;
    padding: 0px 20px;
    max-width: 1300px;
    margin-top: 90px;
  }
  .faqDetails {
    margin-top: 40px;
    padding: 0px 0px;
    clear: both;
    overflow: hidden;
    .faqDetailsTitle {
      color: #025f89;
      font-weight: normal;
    }
    .faqDetailsMainContent {
      margin-bottom: 30px;
      p {
        font-size: 17px;
        color: #333e48;
        line-height: 26px;
      }
    }
    .faqPostList {
      padding-top: 30px;
      .faqLink {
        display: block;
        clear: both;
        color: #636363;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }
}

.rules,
.toc {
  @include myriad-pro-light;
  .inner-wrapper {
    padding-bottom: 70px;
    max-width: 930px;
    margin: 0 auto 70px;
    padding: 0 15px;

    strong {
      font-weight: bold;
    }

    .section-header {
      margin-top: 69px;
      text-align: center;
      opacity: 0.9;
      color: #242f2d;
      line-height: 1.3;
      @media only screen and (max-width: 640px) {
        font-size: 20px;
        padding: 0;
      }

      .heading {
        color: $header-gray;
        font-size: 48px;
        margin-bottom: 20px;
        @media only screen and (max-width: 640px) {
          font-size: 36px;
          line-height: 1;
        }
        @media only screen and (max-width: 415px) {
          font-size: 30px;
        }
      }
    }
    p {
      @include myriad-pro-light;
      font-size: 18px;
      line-height: 1.4;
    }
    ol {
      list-style-type: decimal;
      margin-top: 20px;
      li {
        margin-left: 20px;
        p {
          color: $light-gray;
          font-family: MyriadPro-Light,Calibri,sans-serif;
          margin-bottom: 15px;

          .title {
            text-transform: uppercase;
            font-weight: bolder;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
      ol {
        list-style-type: lower-roman;
      }
    }
    table {
      width: 100%;
      border: 1px solid $black;
      margin-bottom: 20px;
      th,
      td {
        padding: 15px;
        color: $light-gray;
        border: 1px solid $light-gray;
        font-family: MyriadPro-Light,Calibri,sans-serif;
        font-size: 18px;
      }
      th {
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

