$topcoder-font      : 'Source Sans Pro', Arial, Helvetica, sans-serif;
$tc-btn-light-orange: #F90;
$tc-btn-dark-orange : #FF7A00;
$light-orange       : #FFB800;
$dark-orange        : #FF8A00;
$light-blue         : #00AEFF;
$dark-blue          : #0096FF;
$white              : #FFF;
$off-white          : #FFFFFE;
$light-gray         : #EEE;
$dark-gray          : #666;


footer {

}