@import 'partials/combined';

.landing {
  // Common section styles
  .section-actions {
    margin-top: 42px;

    li {
      display: inline-block;

      & + li {
        margin-left: 40px;
      }
    }
  }

  .section-actions li, .section-action {
    color: $light-blue;
    font-size: 18px;
    @media only screen and (max-width: 415px) {
      font-size: 18px;
    }
  }

  // Badges section
  .section-header {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    opacity: 0.9;
    color: #242f2d;
    font-size: 29px;
    margin-top: 69px;
    line-height: 1.3;
    @media only screen and (max-width: 415px) {
      margin-top: 59px;
    }

    .heading {
      color: $header-gray;
      margin-bottom: 20px;
      @media only screen and (max-width: 415px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  .landing-banner {
    background: url('../images/banner-landing.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 70px;
    padding-bottom: 119px;
    @media only screen and (min-width: 992px) {
      padding-left: 87px;
    }
    @media only screen and (max-width: 675px) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @include retina {
        background: url('../images/banner-landing@2x.jpg');
        background-size: cover;
    }

    .section-header {
      text-align: left;
      padding: 0;
      @include myriad-pro-light;
      @media only screen and (min-width: 992px) {
        margin-left: 0;
      }

      .heading {
        margin-top: 32px;
        font-size: 29px;
        color: #565859;
        @media only screen and (max-width: 675px) {
          font-size: 29px;
        }
        @media only screen and (max-width: 415px) {
          margin-top: 20px;
          font-size: 18px;
        }
      }
      img.landing-logo {
        width: 227px;
        @media only screen and (max-width: 415px) {
          width: 137px;
        }
      }
      strong {
        color: #333e48;
        font-size: 40px;
        line-height: 67px;
        display: block;
        margin-top: 17px;
        @media only screen and (max-width: 675px) {
          font-size: 40px;
          line-height: 50px;
          margin-top: 5px;
        }
        @media only screen and (max-width: 415px) {
          font-size: 25px;
          line-height: 29px;
          margin-top: 0;
        }
      }
    }
    .banner-text {
      max-width: 320px;
      color: $blue-gray;
      font-size: 20px;
      margin-top: 42px;
      margin-left: 6px;
      line-height: 1.3;
      @media only screen and (max-width: 675px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 415px) {
        max-width: 240px;
        font-size: 13px;
        margin-top: 30px;
        margin-left: 0;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
      }
    }
    .banner-actions {
      margin-top: 60px;
      margin-left: 6px;
      line-height: 30px;
      @media only screen and (max-width: 675px) {
        margin-bottom: 22px;
        margin-top: 21px;
        line-height: 25px;
      }
      @media only screen and (max-width: 415px) {
        margin-left: 0;
      }

      li {
        display: inline-block;
        vertical-align: middle;

        & + li {
          margin-left: 40px;
          @media only screen and (max-width: 675px) {
            margin-left: 23px;
          }
        }
      }
      .learn-link {
        @include myriad-pro-light;
        line-height: 1;
        font-size: 18px;
        @media only screen and (max-width: 415px) {
          font-size: 16px;
        }
      }
      a:not(.btn) {
        color: $light-blue;
      }
      .btn {
        padding: 0 25px;
        @media only screen and (max-width: 415px) {
          padding: 0 8px;
          font-size: 13px;
          line-height: 29px;
          height: 29px;
        }
      }
    }
  }


  .get-training-section {
    margin-bottom: 33px;
    @media only screen and (min-width: 992px) {
      position: relative;
      min-height: 714px;
    }
    @media only screen and (max-width: 991px) {
      padding-bottom: 20px;
    }
    @media only screen and (max-width: 415px) {
      margin-bottom: 18px;
    }

    .section-header {
      color: $header-gray;
      @include myriad-pro-light;
      font-size: 48px;
      opacity: 1;
      margin-top: 51px;
      @media only screen and (max-width: 415px) {
        margin-top: 25px;
        font-size: 30px;
      }
    }
    .content-col {
      color: $blue-gray;
      font-size: 18px;
      line-height: 26px;
      @media only screen and (min-width: 992px) {
        margin-left: -19px;
        max-width: 550px;
      }
      @media only screen and (max-width: 415px) {
        font-size: 15px;
        line-height: 23px;
      }

      &:before {
        content: '';
        background: url('../images/responsive.png');
        @include retina {
          background: url('../images/responsive@2x.png');
          background-size: cover;
        }
        background-size: auto 100%;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        @media only screen and (min-width: 992px) {
          position: absolute;
          width: 669px;
          height: 521px;
          right: 100%;
          top: 57px;
        }
        @media only screen and (max-width: 991px) {
          display: block;
          margin: 20px auto;
          width: 500px;
          height: 385px;
        }
        @media only screen and (max-width: 640px) {
          height: 231px;
          width: 314px;
        }
      }
      & > a {
        display: block;
        color: $light-blue;
        font-size: 22px;
        margin-top: 56px;
      }
      p {
        @media only screen and (min-width: 992px) {
          margin-top: 75px;
        }
      }
    }
    .section-actions {
      margin-top: 54px;
      @media only screen and (max-width: 991px) {
        text-align: center
      }
      @media only screen and (max-width: 415px) {
        margin-top: 32px;
      }

      a:not(.btn) {
        color: $light-blue;
        @media only screen and (max-width: 415px) {
          font-size: 16px;
        }
      }
      a {
        @media only screen and (max-width: 991px) {
          text-align: center;
        }
      }
      .btn {
        @media only screen and (max-width: 415px) {
          padding: 0 8px;
          font-size: 13px;
          line-height: 29px;
          height: 29px;
        }
      }
    }
  }

  .challenges-section {
    background-color: #f0f0f0;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 40px;

    .section-header {
      @include myriad-pro-light;
      font-size: 30px;
      color: $header-gray;
      margin-top: 51px;

      .heading {
        margin-bottom: 10px;
        @media only screen and (max-width: 415px) {
          font-size: 32px;
        }
      }
      p {
        @media only screen and (max-width: 415px) {
          font-size: 22px;
        }
      }
    }
    .challenges {
      margin-top: 33px;

      .challenge {
        max-width: 290px;
        height: 480px;
        margin: 0 auto;
        background-color: $white;
        margin-bottom: 37px;

        .challenge-image {
          width: 190px;
          display: block;
          margin: 0 auto;
          padding-top: 5px;

          .design-dev {
            margin-bottom: 10px;
            margin-top: 15px;
          }
        }
        .challenge-details {
          padding: 20px;
          padding-top: 10px;

          .challenge-header {
            opacity: 0.9;
            color: $challenge-black;
            font-size: 20px;
            margin: 3px 0 0 4px;
            @include ellipsis;
            @media only screen and (max-width: 415px) {
              font-size: 16px;
            }

            a {
              color: inherit;
            }
          }
          .challenge-data {
            opacity: 0.7;
            color: $challenge-black;
            font-size: 14px;
            margin: 6px 0 0 3px;
            line-height: 1.2;

            .challenge-field {
              @include myriad-pro;
              font-weight: bold;
              font-size: 15px;
            }
          }
          .challenge-prize {
            opacity: 0.9;
            color: $challenge-black;
            font-size: 36px;
            margin-top: 15px;
          }
          .challenge-deadline {
            opacity: 0.8;
            color: $challenge-black;
            @include myriad-pro-light;
            font-size: 18px;
            margin: 3px 0 0 4px;
          }
          .challenge-peer {
            margin-left: 3px;
            margin-top: 10px;
            margin-bottom: -20px;

            .timeHeader {
              font-size: 17px;
              margin-bottom: 3px;
            }
            .timeEnd {
              margin-top: 3px;
            }
            .time {
              @include myriad-pro-light;
              opacity: 0.8;
              color: #030304;
              font-size: 18px;
            }
          }
          .challenge-registrants .stats-value:before {
            @include icon-sprite;
            background-position: -102px -175px;
            width: 34px;
            height: 29px;
          }

          .challenge-submissions .stats-value:before {
            @include icon-sprite;
            background-position: -66px -175px;
            width: 34px;
            height: 30px;
          }
          .challenge-stat {
            margin-top: 37px;
            padding-left: 19px;
            padding-right: 0;

            & + .challenge-stat {
              padding-left: 20px;
              border-left: 1px solid rgba(60, 61, 61, 0.3);
            }
            .stats-type {
              opacity: 0.8;
              color: $challenge-black;
              font-size: 10px;
              font-weight: 600;
            }
            .stats-value {
              opacity: 0.9;
              color: #1e61b3;
              font-size: 30px;
              line-height: 1;
              margin-top: 9px;

              &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 11px;
              }
              a {
                color: inherit;
              }
            }
          }
        }
      }
    }
    .section-actions {
      text-align: center;
      margin-top: 28px;

      li {
        @media only screen and (max-width: 600px) {
          display: block;
          margin-left: 0;
        }
        &:first-child {
          @media only screen and (max-width: 600px) {
            margin-bottom:  20px;
          }
        }
      }
      a {
        color: $light-blue;
        margin-top: 10px;
      }
    }
  }

  .learn-improve-section {
    padding-bottom: 22px;

    .section-header {
      color: $header-gray;
      font-size: 30px;
      margin-top: 46px;
      margin-bottom: 15px;
      @include myriad-pro-light;
      @media only screen and (min-width: 992px) {
        margin-top: 55px;
      }

      .heading {
        margin-bottom: 16px;
        @media only screen and (max-width: 767px) {
          font-size: 32px;
        }
        @media only screen and (max-width: 415px) {
          font-size: 24px;
        }
      }

      p {
        @include myriad-pro;
        @media only screen and (max-width: 767px) {
          font-size: 25px;
        }
        @media only screen and (max-width: 415px) {
          font-size: 20px;
        }
      }
    }

    .description-wrapper {
      .section-content, .logo-column {
        display: block;
        @media only screen and (min-width: 870px) {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .section-content {
      color: $blue-gray;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.35;
      @media only screen and (min-width: 460px) {
        margin-left: 25px;
        margin-right: 25px;
      }
      @media only screen and (min-width: 870px) {
        width: 475px;
      }
      @media only screen and (min-width: 1050px) {
        margin-left: 130px;
      }

      .section-subheader {
        color: $light-gray;
        font-size: 24px;
        @include myriad-pro-light;
        margin-bottom: 30px;
        line-height: 1.1;
        @media only screen and (min-width: 416px) and (max-width: 767px) {
          text-align: center;
        }
        @media only screen and (max-width: 415px) {
          font-size: 20px;
        }
      }
      p {
        @media only screen and (max-width: 415px) {
          // font-size:
        }
        @media only screen and (max-width: 415px) {
          font-size: 16px;
          line-height: 1.2;
        }
      }
      .section-action {
        margin-top: 38px;
        margin-bottom: 25px;
        display: block;
        @media only screen and (min-width: 416px) and (max-width: 767px) {
          text-align: center;
        }
        @media only screen and (max-width: 415px) {
          margin-top: 25px;
        }
      }
    }

    .logo-column {
      width: 275px;
      margin-left: auto;
      margin-right: auto;
      @media only screen and (min-width: 870px) {
        width: 315px;
      }
      @media only screen and (min-width: 1050px) {
        width: 370px;
      }
    }

    .subsections {
      padding-top: 41px;
      color: $blue-gray;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
      position: relative;
      @media only screen and (min-width: 1050px) {
        margin-top: -5px;
      }

      // Top border
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #c0c1c1;
      }
      .container {
        max-width: 1024px;
      }
      .subsection-header {
        @include myriad-pro-light;
        font-size: 29px;
        line-height: 29px;
        min-height: 58px;
        color: $header-gray;
        margin-bottom: 24px;
      }
      .link-row {
        text-align: left;
        margin-top: 20px;
        font-size: 18px;
        color: #009dce;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    .subsections {
      .btn {
        position: absolute;
        bottom: 0;
        margin-left: 75px;
        display: block;
        width: 118px;
        margin-left: 80px;
      }
      .info-col {
        &:first-child .btn {
          margin-left: 31px;
        }
        &:last-child .btn {
          margin-left: 108px;
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .info-col {
      font-size: 16px;
      padding-left: 50px;
      padding-right: 50px;

      .subsection-header {
        text-align: center;
        min-height: 0 !important;
      }
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
  }
  @media only screen and (max-width: 415px) {
    .info-col {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

learn-section {
  .subhed {
    margin-top: 6px;
  }
}
