@import 'partials/combined';

.register {
  .register-bg{
    width: 100%;
    background: url('../images/register-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 927px;
  }
  .register-content{
    padding: 92px 46px 144px 102px;
    @media only screen and (max-width: 767px) {
      padding-right: 35px;
      padding-left: 50px;
    }
    @media only screen and (max-width: 590px) {
      padding: 70px 15px;
    }

    .big-logo{
      display: block;
      margin-bottom: 15px;

      img {
        width: 227px;
        @media only screen and (max-width: 767px) {
          width: 175px;
        }
      }
    }
    .welcome {
      margin-bottom: 12px;
      @include myriad-pro-light();
      font-size: 48px;
      line-height: 48px;
      color: $white;
      @media only screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .register-msg p {
      @include myriad-pro-light();
      font-size: 32px;
      color: $white;
      line-height: 38px;
      max-width: 650px;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 23px;
        max-width: 365px;
      }
    }
    .register-form{
      margin: 46px 0 0 0;
      @media only screen and (max-width: 767px) {
        margin-top: 35px;
      }

      .fields {
        padding: 0 20px 20px 0;
        margin: 0px; /* reset bootstrap's margin on .checkbox etc classes */
        @media only screen and (max-width: 590px) {
          padding-right: 0;
        }

        .dropdown-menu {
          right: 20px; /* adjusts for the padding of the parent element .fields */
        }
        .icheckbox {
          width: 35px;
          height: 31px;
          background: url("../images/checkbox.png") no-repeat 0 0;
          float: left;
          margin: 12px 13px 0 0;
          @media only screen and (max-width: 475px) {
            margin-top: 45px;
          }

          &.checked{
            background: url("../images/checkbox.png") no-repeat 0 -38px;
          }
        }

        label {
          @include myriad-pro();
          font-size: 24px;
          color: $white;
          padding-left: 0px;/* reset boostrap's .radio label, .checkbox label */
          line-height: 60px;

          .form-control-feedback {
            font-size: 16px; /* to match the size of the alert icon with other fields*/
          }
          .agree-txt {
            font-size: 24px;
            @media only screen and (max-width: 1110px) {
              font-size: 20px;
            }
            @media only screen and (max-width: 475px) {
              position: absolute;
              top: 5px;
              left: 5px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
      .checkbox .form-control-feedback {
        @media only screen and (max-width: 475px) {
          top: 37px;
          left: 50px;
        }
      }
      .txt-box{
        border: none;
        background: $white;
        outline: none;
        border-radius: 10px;
        width: 100%;
        height: 53px;
        line-height: 53px;
        text-indent: 16px;
        font-size: 20px;
        color: rgba(51, 70, 81, 0.9);
        @media only screen and (max-width: 520px) {
          height: 43px;
          line-height: 43px;
          font-size: 16px;
        }
      }
      .txt-box::-webkit-input-placeholder {
        @include myriad-pro();
        font-size: 20px;
        color: rgba(51, 70, 81, 0.5);
        @media only screen and (max-width: 520px) {
          font-size: 16px;
        }
      }
      .txt-box::-moz-placeholder {
        @include myriad-pro();
        font-size: 20px;
        color: rgba(51, 70, 81, 0.5);
        @media only screen and (max-width: 520px) {
          font-size: 16px;
        }
      }
      .txt-box:-ms-input-placeholder {
        @include myriad-pro();
        font-size: 20px;
        color: rgba(51, 70, 81, 0.5);
        @media only screen and (max-width: 520px) {
          font-size: 16px;
        }
      }
      .form-control-feedback {
        /* height and line-height are altered to match with .txt-box */
        height: 53px;
        line-height: 53px;
        /* right is altered to match with padding of .fileds */
        right: 20px;
        @media only screen and (max-width: 520px) {
          height: 43px;
          line-height: 43px;
        }
      }
    }
    .register-btn{
      width: 117px;
      height: 40px;
      line-height: 40px;
      margin: 54px 0 0;
      float: right;
      font-size: 22px;
      border: none;
      @media only screen and (max-width: 992px) {
        margin-top: 10px;
      }
      @media only screen and (max-width: 520px) {
        width: 100px;
        height: 35px;
        line-height: 17px;
        margin-left: 0;
        float: left !important;
        font-size: 17px;
      }
    }
  }
}
