div.container(ng-show="loaded")
  .links
    h5 #[a.back(ui-sref="reviewStatus") #[i] Back to Reviews]

  .scorecard-container
    .challenge-info
      img(src="content/images/swift-logo.png")

      h2 {{scorecard.templateName}}

    .review-info
      p #[strong Submission: ]
        a(ng-href="https://software.{{domain}}{{submissionDownloadPath}}{{stats.uploadId}}") {{stats.submissionId}}
      p #[strong Last Modified On:] {{stats.lastModified}}
      p #[strong Reviewer:] {{stats.username}}

    .form-container
      form#review-form(name="completedForm", role="form")
        .scorecard(ng-repeat="q in scorecard.questions")
          h5.topic {{q.topic}}

          p.description {{q.description}}

          p.guideline(ng-if="q.type === 'SELECT_ONE'", ng-repeat="guideline in q.guideline track by $index") {{guideline}}
          p.guideline(ng-if="q.type === 'TEXT'") {{q.guideline}}

          p.answer(ng-if="q.type === 'SELECT_ONE'") Your Response: {{q.answer}}

          p.answer(ng-if="q.type === 'TEXT'") Your Response: {{q.answer}}

          hr(ng-class="{lastHr: $last}")
