.inner-wrapper
  .section-header
    h1.heading Swift/iOS Ready! Show Your Skills Sweepstakes Official Rules

  p The Swift/iOS Ready! Show Your Skills Sweepstakes (the "Sweepstakes") is a series of individual overlapping bi-weekly promotions that are subject to these Official Rules except as expressly stated otherwise. No purchase necessary to enter or win. A purchase or payment will not increase your chances of winning. The Sweepstakes is sponsored by Appirio, 760 Market Street, 11th Floor, San Francisco, CA 94102 (the “Sponsor”).

  ol
    li
      p
        span.title Eligibility:

        | <strong>TRADE PROMOTION ONLY</strong>. Everyone who has achieved a Swift/iOS Ready! Show Your Skills badge is automatically entered into the Sweepstakes (“Entrant”). You must have achieved a badge prior to the start of the Sweepstakes.  Employees of Appirio, its affiliates, Sweepstakes supervisors and members of their immediate families, are not eligible to participate or win. The Sweepstakes is subject to all applicable federal, state and local laws, rules and regulations. Void where prohibited.

    li
      p
        span.title Sweepstakes Period:

        | Beginning October 5, 2015 and ending December 31, 2015 (the “Sweepstakes Period”) each bi-weekly Sweepstakes begins at 12:01 a.m. Pacific Time (“PT”) and ends at 11:59 p.m. PT (“Bi-Weekly Sweepstakes”) according to the schedule below.

        table
          thead
            tr
              th Start Date
              th End Date
          tbody
            tr
              td October 5th, 2015
              td October 13th, 2015
            tr
              td October 14th, 2015
              td October 28th, 2015
            tr
              td October 29th, 2015
              td November 11th, 2015
            tr
              td November 12th, 2015
              td November 25th, 2015
            tr
              td November 26th, 2015
              td December 9th, 2015
            tr
              td December 10th, 2015
              td December 23rd, 2015

    li
      p
        span.title How to Enter the Sweepstakes:

        | Everyone who has achieved a Swift/iOS Ready! Show Your Skills badge is automatically entered into the Sweepstakes.

        p Persons discovered entering under multiple identities will be disqualified. Sponsor reserves the right to disqualify false entries or entries suspected of being false. In the event of a dispute as to the identity of a winning Sweepstakes Entrant (“Winning Entrant”), the Winning Entrant will be deemed to be the person whose name and relevant information was given at the time of entry.

    li
      p
        span.title Odds:

        | Odds of winning a prize depend on the number of eligible entries received.

    li
      p
        span.title Prize:

        | <strong>BI-MONTHLY PRIZE.</strong>  If eligible under these Official Rules, the following prize will be awarded: a $99 reimbursement of the Apple Developer Annual Fee, which shall be awarded either as a gift card or a paper or electronic check.

        p No substitution or transfer permitted, provided however that Sponsor reserves the right to substitute a prize with another prize of equal or greater value should the advertised prize become unavailable for any reason. A Winning Entrant cannot assign or transfer his/her prize to another person or business. A Winning Entrant is solely responsible for any and all federal, state, and local taxes on prize. All activities related to the prize are at the Winning Entrant’s own risk and subject to whatever restrictions are imposed by the entities that govern such activities. If prize notification or any prize is returned as undeliverable, or if Winning Entrant may not accept or receive a prize for any reason, prize will be forfeited. Sponsor will not make multiple attempts to contact Winning Entrants.

    li
      p
        span.title Winner Selection and Notification of winning Entrant:

        | Entrants will be determined by a representative of Sponsor from among all eligible entries received by the respective Bi-Weekly Sweepstakes date according to the following schedule:

        table
          thead
            tr
              th Start Date
              th End Date
              th Drawing Date
          tbody
            tr
              td October 5th, 2015
              td October 13th, 2015
              td October 14th, 2015
            tr
              td October 14th, 2015
              td October 28th, 2015
              td October 29th, 2015
            tr
              td October 29th, 2015
              td November 11th, 2015
              td November 11th, 2015
            tr
              td November 12th, 2015
              td November 25th, 2015
              td November 26th, 2015
            tr
              td November 5th, 2015
              td December 9th, 2015
              td December 10th, 2015
            tr
              td December 10th, 2015
              td December 23rd, 2015
              td December 24th, 2015

        p The Winning Entrant will be notified by email or telephone, at Sponsor’s sole discretion, provided at the time of entry. Winning Entrant will be required to respond (as directed) within three (3) days of attempted notification.  The failure to respond timely to the notification may result in forfeiture of the prize. Winning Entrant may also be sent a declaration of eligibility / liability / publicity release (“Release”). Unless restricted by law, Winning Entrant will be required to complete and return the Release within five (5) days from the date of notification. Winning Entrant will receive the Prize by mail within approximately thirty (30) days of the date on which the Sponsor receives the completed, signed Release from the Winning Entrant (exact timing subject to change based upon availability of Prize). In the event of a dispute about the identity of an Entrant, each entry will be declared made by the name and relevant information submitted at time of entry.

    li
      p
        span.title General Conditions:

        | By participating, Entrants agree to be fully and unconditionally bound by these Official Rules and the decisions of Sponsor and waive any right to claim ambiguity in the Sweepstakes or these Official Rules. Any portion of the Sweepstakes may be canceled, suspended and/or modified, in whole or in part, if in our opinion any fraud, technical failure or other factor beyond our control impairs the integrity or proper functioning of the Sweepstakes. Sponsor reserves the right in its sole discretion to disqualify any individual who is found to be tampering with the entry process or the operation of the Sweepstakes or the Website, to be acting in violation of these Official Rules, or to be acting in an unsportsman-like or disruptive manner, or with the intent to disrupt or undermine the legitimate operation of the Sweepstakes, or to annoy, abuse, threaten or harass any other person, and Sponsor reserves the right to seek damages and other remedies from any such person to the fullest extent permitted by law.   Inappropriate behavior shall including, but not be limited to attempts to engage in collusion with other Entrants to get the prize, using social media or other means to tamper with the fair play of the promotion.  You may not enter with multiple identities or use any automated system, bot or other device or artifice to enter or obtain more than the maximum number of qualified entries. You may not falsely suggest that you live in a location with multiple units in order to cast additional bets.  Unclaimed prizes will not be awarded. All federal, state or other tax liabilities (including income taxes) arising from this Sweepstakes will be the sole responsibility of Winning Entrant. Entrants may be issued an IRS Form 1099 for the ARV of any awarded prize. Caution: any attempt to deliberately damage or undermine the legitimate operation of the Sweepstakes may be in violation of criminal and civil laws and will result in disqualification from participation in the Sweepstakes.  Should such an attempt be made, Sponsor reserves the right to seek remedies and damages (including attorney fees) to the fullest extent of the law, including criminal prosecution.

    li
      p
        span.title Limitations of Liability:

        | If for any reason an entry is confirmed to have been erroneously deleted, lost or otherwise destroyed or corrupted, the Entrant's sole remedy is another entry in the next Bi-Weekly Sweepstakes during the Sweepstakes Period. Winning Entrants also agree to release, discharge, indemnify and hold harmless Sponsor and each of their respective officers, directors, employees, representatives and agents (collectively “Releasees”) from and against any claims, damages, disability, attorneys' fees, and costs of litigation and settlement, as well as any liability due to any injuries, damages or losses to any person (including death) or property of any kind resulting in whole or in part, directly or indirectly, from: (i) use, redemption, acceptance, possession, ownership, or misuse of any prize, (ii) participation in any activity, event, or excursion offered in connection with the prize, (iii) use of any facility, service and/or accommodation related to the prize, or (iv) participation in any Sweepstakes-related activity or participation in this Sweepstakes. The Releasees shall not be liable for: (i) late, lost, delayed, misdirected, incomplete unreadable, inaccurate, garbled or unintelligible entries, communications or declarations, regardless of the method of transmission; (ii) telephone system, telephone or computer hardware, software or other technical malfunctions, lost connections, disconnections, delays or transmission errors; (iii) data corruption, theft, destruction, unauthorized access to or alteration of entry or other materials; (iv) any injuries, losses or damages of any kind caused by the prize or resulting from acceptance, possession or use of a prize, or from participation in the Sweepstakes; or (v) any printing, typographical, administrative or technological errors in any materials associated with the Sweepstakes. Without limiting the generality of the foregoing, Releasees are not responsible for computer malfunctions, network connections, email delivery problems, systems failure or incompatibility, typographical, technical or key-stroke errors, or interruptions in your internet service, and for incomplete, illegible, misdirected, misprinted, late, lost, damaged or stolen notifications. In the event Sponsor is prevented from continuing with the Sweepstakes as contemplated herein by any event beyond its control, including but not limited to fire, flood, earthquake, explosion, labor dispute or strike, act of God or public enemy, or any federal, state or local government law, order, or regulation, or other cause not reasonably within Sponsor’s control (each a "Force Majeure" event or occurrence), then subject to any governmental approval which may be required, Sponsor shall have the right to modify, suspend, or terminate the Sweepstakes.  If the Sweepstakes is terminated before the designated end date, Sponsor will (if possible) select the winners from all eligible, non-suspect Submissions received as of the date of the event giving rise to the termination.  The invalidity or unenforceability of any provision of these rules shall not affect the validity or enforceability of any other provision.  In the event that any provision is determined to be invalid or otherwise unenforceable or illegal, these rules shall otherwise remain in effect and shall be construed in accordance with their terms as if the invalid or illegal provision were not contained herein.

    li
      p
        span.title Disputes:

        | Disputes regarding these Official Rules and/or this Sweepstakes will be governed by the internal laws of the State of California. Decisions of Sponsor are binding and final. No claimant in any dispute involving Sponsor shall be entitled to claim or obtain indirect, punitive, incidental or consequential damages. Sponsor’s failure to enforce any provision in these Official Rules shall not constitute a waiver of that provision.

    li
      p
        span.title Privacy:

        | All personal information collected by Sponsor will be used for administration of the Sweepstakes.  In addition, U.S. Entrants may receive email correspondence from, or on behalf of Sponsor subject to Sponsor’s privacy policy.  Sponsor uses reasonable commercial efforts to comply with Federal CAN-SPAM guidelines, and Entrants may subsequently opt-out of receiving further emails by following the opt-out instructions contained in the email.  Canadian residents will have the option to opt-in to receive information about exciting opportunities and promotions.  Any questions regarding privacy matters should be directed to the address set out below.  Please refer to Sponsor’s privacy policy located at #[a(href="https://www.appirio.com/privacy.php") www.appirio.com/privacy.php] for important information regarding the collection, use and disclosure of personal information by Sponsor

    li
      p
        span.title Sweepstakes Results:

        | For Sweepstakes results and/or a copy of these Official Rules, go to Sponsor’s website at #[a(href="http://www.ios.topcoder.com") www.ios.topcoder.com]. Winners will be announced and posted on Sponsor’s website on [date].

  p &copy; 2015 Appirio. All rights reserved.
