.inner-wrapper
  .faqDetails.row
    .col-sm-8
      .faqDetailsContentWrapper
        h1.faqDetailsTitle(ng-bind="vm.question.title")

      .faqDetailsMainContent
        p(ng-bind-html="vm.question.answer")

    .col-sm-4.faqPostList
      span(ng-repeat="q in vm.questions")
        a.faqLink(ng-href="/swiftoberfest/faq/{{q.slug}}") {{q.title}}

.view-challenges(ng-hide="main.loggedInUser")
  section.container
    header.section-header
      h1.heading Ready to Stand Out in the Crowd?

      h3 Learn, get badged, and compete as a member of the iOS Community

    a.btn(ui-sref="register") Become a member
