.top-banner
  section.container
    h1.banner-header.limit Swiftoberfest 2015

    .banner-text
      p Swiftoberfest was a three-month program in late 2015 to engage and grow the Topcoder iOS Community with dozens of new Swift/iOS Challenges. We gave away lots of cash and tons of great prizes to iOS Community members for earning badges and competing in design and development challenges for select enterprise customers. While Swiftoberfest is officially over, there are still lots of Swift/iOS challenges for you to compete in, and we’ll have more fun programs for the iOS Community in 2016!

      ul.banner-actions
        li
          a.learn-link(href='#prize-section', du-smooth-scroll) Learn More

        li(ng-show="!main.loggedInUser")
          a.btn(ui-sref='register') Become a Member

.prize-section#prize-section
  section.container
    h1.banner-header Swiftoberfest cash and prizes

    .banner-text
      p During Swiftoberfest, in addition to the usual cash payouts for design and development challenges, iOS Community members also earned points on the Swiftoberfest leaderboard. The top members on the leaderboard won cool prizes from Apple.

    h2.banner-header Show your skills challenges

    .banner-text
      p iOS Community members who participate in a Show Your Skills challenge have a chance to earn the Swift/iOS Ready! badge. Members who earned this badge during Swiftoberfest also won our latest t-shirt, which was designed by a Topcoder community member.

    h2.banner-header Real-world challenges

    .banner-text
      p During Swiftoberfest members competed against other iOS designers and developers in real-world challenges for a chance to earn cash as well as great prizes. We gave away Apple TVs in October, Apple Watches in November, and iPads and a MacBook Pro in December. See the Swiftoberfest Leaderboard for the final member standings.

      ul.banner-actions
        li
          a.learn-link(ui-sref="swiftoberfestLeaderboard") View leaderboard

        li(ng-show="!main.loggedInUser")
          a.btn(ui-sref='register') Become a Member

.faq
  .container.visible-md-block.visible-lg-block
    section.row
      .col-md-4(ng-repeat="q in vm.questions")
        a.faqItem(ng-href="/swiftoberfest/faq/{{q.slug}}")
          span.faqContent
            span.faqTitleBox
              span.faqTitle(ng-bind="q.title")

              span.faqPlus

            span.faqExcerptBox
              span.faqExcerpt(ng-bind="q.overflowedAnswer")

              span.readMore Read more

              span.faqPlus

  .container.visible-xs-block.visible-sm-block
    .faqMobile
      .col-xs-12.faqMobileItem(ng-repeat="q in vm.questions")
        a.faqMobileTitle(ng-click="vm.toggleDisplay(q.slug)", ng-class="{expand: !vm.isNotVisible(q.slug)}")
          | {{q.title}}
          span

        .faqMobileContent(ng-hide="vm.isNotVisible(q.slug)", ng-bind-html="q.answer")
